<img
  src="assets/image_01.png"
  alt=""
  style="height: 1000px; position: absolute; width: 15vw; z-index: -1"
/>
@for (item of pessoa; track $index) {
<div class="content">
  <div class="info">
    <img [src]="item.img" alt="" style="height: 500px" />
    <div class="data">
      <div>
        <h1>{{ item.nome }}</h1>
      </div>

      <div class="partner">
        <p>{{ item.cargo }}</p>
      </div>

      <div class="contact">
        <p>{{ item.email }}</p>
        <p>{{ item.telefone1 }}</p>
        <p>{{ item.telefone2 }}</p>
      </div>

      <button class="btn">
        <p><i class="bi bi-download"></i> Cartão de Visitas</p>
      </button>
      <div class="rankings">
        <h4>Rankings</h4>

        <p>{{ item.ranking1 }}</p>
        <p>{{ item.ranking2 }}</p>
        <p>{{ item.ranking3 }}</p>
        <p>{{ item.ranking4 }}</p>
        <p>{{ item.ranking5 }}</p>
        <p>{{ item.ranking6 }}</p>
      </div>

      <div class="languages">
        <h4>Idiomas</h4>
        <p>{{ item.idiomas }}</p>
      </div>
    </div>
    <div class="conect">
      <button>
        <p><i class="bi bi-linkedin"></i> Conecte-se</p>
      </button>
    </div>
  </div>

  <div class="main">
    <div class="introduction">
      <h4>
        {{ item.apresentacao1 }}
      </h4>
      <p>
        {{ item.apresentacao2 }}
      </p>
    </div>

    <div class="experience">
      <h4>Experiência</h4>
      <p>
        {{ item.experiencia }}
      </p>
    </div>

    <div class="specialties">
      <h4>Especialidades</h4>

      <div class="sector">
        <h3>Setores:</h3>

        <div class="tags">
          <div class="tag" style="background-color: #39e2af8a">
            {{ item.setores1 }}
          </div>
          <div class="tag">{{ item.setores2 }}</div>
          <div class="tag">{{ item.setores3 }}</div>
          <div class="tag">{{ item.setores4 }}</div>
          <div class="tag">{{ item.setores5 }}</div>
        </div>
      </div>

      <div class="practice-areas">
        <h3>Áreas de prática:</h3>

        <div class="tags">
          <div class="tag" style="background-color: #39e2af8a">
            Contratos Comerciais
          </div>
          <div class="tag">{{ item.pratica1 }}</div>
          <div class="tag">{{ item.pratica2 }}</div>
          <div class="tag">{{ item.pratica3 }}</div>
          <div class="tag">{{ item.pratica4 }}</div>
          <div class="tag">{{ item.pratica5 }}</div>
          <div class="tag">{{ item.pratica6 }}</div>
          <div class="tag">{{ item.pratica7 }}</div>
          <div class="tag">{{ item.pratica8 }}</div>
          <div class="tag">{{ item.pratica9 }}</div>
        </div>
      </div>
    </div>

    <div class="qualifications">
      <h4>Qualificações</h4>

      <p>{{item.qualificacao}}</p>
     
    </div>

    <div class="alliances-and-associations">
      <h3>Membro da:</h3>

      <p>
       {{item.aliancas}}
      </p>
     
    </div>
  </div>
</div>
}
