<img src="assets/image_01.png" alt="" style="height: 1000px; position: absolute; width: 15vw; z-index: -1;">
<div class="content">
  <div class="info">
    <img src="assets/mask-3.png" alt="" />
    <div class="data">
      <div>
        <h1>Bruna</h1>
        <h1>Rocha</h1>
      </div>

      <div class="partner">
        <p>Sócia | Partner</p>
        <p>São Paulo</p>
      </div>

      <div class="contact">
        <p>bruna.rochacosro.com</p>
        <p>+55 11 91125 0805</p>
        <p>+55 11 99625 2449</p>
      </div>

      <button class="btn">
        <p><i class="bi bi-download"></i> Cartão de Visitas</p>
      </button>
      <div class="rankings">
        <h4>Rankings</h4>

        <p>Legal 500, 2023 e 2024</p>
        <p>Leaders League, 2024</p>
        <p>LACCA Approved Latin<br />Lawyer, 2025</p>
        <p>Análise Advocacia, 2023</p>
      </div>

      <div class="languages">
        <h4>Idiomas</h4>
        <p>Português, Inglês, Espanhol</p>
      </div>
    </div>
    <div class="conect">
      <button>
        <p><i class="bi bi-linkedin"></i> Conecte-se</p>
      </button>
    </div>
  </div>

  <div class="main">
    <div class="introduction">
      <h4>
        Bruna Rocha une expertise técnica no setor de Life Sciences e Healthcare
        a uma abordagem setorial e negocial centrada nas necessidades de seus
        clientes.
      </h4>
      <p>
        Ao longo de sua carreira, que compreende anos nos Estados Unidos, ela
        tem se destacado na oferta de soluções jurídicas estratégicas que
        garantem conformidade e promovem inovação em ambientes complexos. Sua
        capacidade de comunicação e habilidades de negociação permitem que ela
        estabeleça parcerias eficazes com profissionais de saúde, instituições e
        órgãos reguladores. Com um compromisso inabalável com a ética e a
        excelência, Bruna Rocha se posiciona como uma referência no setor em
        saúde, dedicada a contribuir para o aprimoramento do arcabouço de saúde
        brasileiro e das práticas jurídicas associadas.
      </p>
    </div>

    <div class="experience">
      <h4>Experiência</h4>
      <p>
        Bruna Rocha atua com uma clientela diversificada, que inclui indústrias
        farmacêuticas, farmoquímicas, organizações representativas de pesquisa
        clínica, produtos para a saúde, biotechs, saúde digital e agronegócio.
        Com uma abordagem focada nas intricadas questões transacionais e
        regulatórias, ela estabelece parcerias estratégicas com executivos e
        executivas C-level, investidores e investidoras, desenvolvedores e
        profissionais de saúde, guiando-os de forma excepcional ao longo de todo
        o ciclo de desenvolvimento e implementação de produtos, serviços e
        soluções de saúde, desde o laboratório até o mercado.
      </p>
    </div>

    <div class="specialties">
      <h4>Especialidades</h4>

      <div class="sector">
        <h3>Setores:</h3>

        <div class="tags">
          <div class="tag" style="background-color: #39e2af8a">Agronegócio</div>
          <div class="tag">Alimentos e Bebidas</div>
          <div class="tag">Bens de Consumo e Varejo</div>
          <div class="tag">Cannabis</div>
          <div class="tag">Life Sciences</div>
          <div class="tag">Healthcare</div>
          <div class="tag">Tecnologia</div>
        </div>
      </div>

      <div class="practice-areas">
        <h3>Áreas de prática:</h3>

        <div class="tags">
          <div class="tag" style="background-color: #39e2af8a">
            Contratos Comerciais
          </div>
          <div class="tag">Contratos Administrativos e Licitações</div>
          <div class="tag">Regulatório</div>
          <div class="tag">Política e Compliance</div>
          <div class="tag">Relações Governamentais</div>
        </div>
      </div>
    </div>

    <div class="qualifications">
      <h4>Qualificações</h4>

      <p>Graduação em Direito pela Universidade de Barretos (virtual)</p>
      <p>
        Scaling Excellence through Innovation", Stanford University (virtual)
      </p>
      <p>Principles of Economics", Stanford University (virtual)</p>
      <p>
        Essentials of Program Strategy and Evaluation", Stanford University
        (virtual)
      </p>
      <p>How Software Ate Finance", Stanford University (virtual)</p>
      <p>
        Project Management Life Cycle", Rochester Institute of Technology (RITx)
        (virtual)
      </p>
    </div>

    <div class="alliances-and-associations">
      <h3>Membro da:</h3>

      <p>
        Ordem dos Advogados do Brasil, Seccionais de São Paulo e do Rio de
        Janeiro
      </p>
      <p>International Bar Association (IBA)</p>
      <p>Brazilian-American Chamber of Commerce</p>
      <p>Leadership Alliance for Women (LAW)</p>
      <p>
        Diretora Executiva da Associação Brasileira da Indústria de Canabinoides
        (BRCann)
      </p>
    </div>
  </div>
</div>
