<img
  src="assets/image_01.png"
  alt=""
  style="height: 1000px; position: absolute; width: 15vw; z-index: -1"
/>
@for (item of pessoa; track $index) {
<div class="content">
  <div class="info">
    <img [src]="item.img" alt="" height="500px" width="100%"/>
    <div class="data">
      <div>
        <h1 class="arapey-regular">{{ item.nome }}</h1>
      </div>

      <div class="partner">
        <p>{{ item.cargo }}</p>
      </div>

      <div class="contact">
        <p>{{ item.email }}</p>
        <p>{{ item.telefone1 }}</p>
        <p>{{ item.telefone2 }}</p>
      </div>

      <button class="btn">
        <p><i class="bi bi-download"></i> Cartão de Visitas</p>
      </button>
      <div class="rankings">
        <h4 class="arapey-regular">Rankings</h4>

        <p>{{ item.ranking1 }}</p>
        <p>{{ item.ranking2 }}</p>
        <p>{{ item.ranking3 }}</p>
        <p>{{ item.ranking4 }}</p>
        <p>{{ item.ranking5 }}</p>
        <p>{{ item.ranking6 }}</p>
      </div>

      <div class="languages">
        <h4 class="arapey-regular">Idiomas</h4>
        <p>{{ item.idiomas }}</p>
      </div>
    </div>
    <div class="conect">
      <button>
        <p class="arimo-regula"><i class="bi bi-linkedin"></i> Conecte-se</p>
      </button>
    </div>
  </div>

  <div class="main">
    <div class="introduction">
      <h4 class="arapey-regular">
        {{ item.apresentacao1 }}
      </h4>
      <p class="arimo-regular">
        {{ item.apresentacao2 }}
      </p>
    </div>

    <div class="experience">
      <h4 class="arapey-regular">Experiência</h4>
      <p class="arimo-regular">
        {{ item.experiencia }}
      </p>
    </div>

    <div class="specialties">
      <h4 class="arapey-regular">Especialidades</h4>

      <div class="sector">
        <h3 class="arimo-regular">Setores:</h3>

        <div class="tags">
          <div class="tag arimo-regula" style="background-color: #39e2af8a">
            {{ item.setores1 }}
          </div>
          <div class="tag arimo-regular">{{ item.setores2 }}</div>
          <div class="tag arimo-regular">{{ item.setores3 }}</div>
          <div class="tag arimo-regular">{{ item.setores4 }}</div>
          <div class="tag arimo-regular">{{ item.setores5 }}</div>
          <div class="tag arimo-regular">{{ item.setores6 }}</div>
        </div>
      </div>

      <div class="practice-areas">
        <h3>Áreas de prática:</h3>

        <div class="tags">
          <div class="tag" style="background-color: #39e2af8a">
            Contratos Comerciais
          </div>
          <div class="tag arimo-regula">{{ item.pratica1 }}</div>
          <div class="tag arimo-regula">{{ item.pratica2 }}</div>
          <div class="tag arimo-regula">{{ item.pratica3 }}</div>
          <div class="tag arimo-regula">{{ item.pratica4 }}</div>
          <div class="tag arimo-regula">{{ item.pratica5 }}</div>
          <div class="tag arimo-regula">{{ item.pratica6 }}</div>
          <div class="tag arimo-regula">{{ item.pratica7 }}</div>
          <div class="tag arimo-regula">{{ item.pratica8 }}</div>
          <div class="tag arimo-regula">{{ item.pratica9 }}</div>
        </div>
      </div>
    </div>

    <div class="qualifications">
      <h4 class="arapey-regular">Qualificações</h4>

      <p class="arimo-regula">{{ item.qualificacao }}</p>
    </div>

    <div class="alliances-and-associations">
      <h3 class="class arimo-regula">Membro da:</h3>

      <p class="arimo-regula">
        {{ item.aliancas }}
      </p>
    </div>
  </div>
</div>
}
