<div class="introduction">
  <div class="text">
    <h1 class="arapey-regular">Insights</h1>
    <h2 class="arapey-regular">que inspira suas decisões</h2>
    <h1 class="arapey-regular">Explorer nossos conteúdos</h1>
  </div>

  <div class="image">
    <img src="./assets/insights.png" alt="" />
  </div>
</div>

<div class="">
  <div class="find container">
    <h1 class="arapey-regular">Personalize sua busca</h1>
    <div class="row">
      <div class="col-4">
        <div class="select">
          <select aria-label="Default select example">
            <option selected>SETOR</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="select">
          <select aria-label="Default select example">
            <option selected>ÁREA DE PRÁTICA</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <div class="select">
          <select aria-label="Default select example">
            <option selected>TIPO</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="news">
  <div class="container">
    <div class="title row">
      <div class="col-4" style="border-bottom: #39E2B0 solid 20px;">
        <h1 class="arapey-regular">Áudio e Video</h1>
      </div>
      <div class="col" style="  border-bottom: #39E2B0 solid 2px;">
        <p class="arimo-regular">
          Acesse vídeos, entrevistas e podcasts que trazem discussões atuais e
          análises jurídicas de forma clara e acessível.
        </p>
      </div>
    </div>

    <div class="row" >
      @for (item of loop; track $index) {
      <div class="info col-4" >
        <div style="border-bottom: #50505075 solid 2px; padding-bottom: 1rem;">
            <img src="./../../../assets/abertura_2.png" alt="" />
            <h3 class="arimo-regular">Descarbonização</h3>
            <h2 class="arapey-regular">page when looking at its layout.</h2>
            <h3 class="arimo-regular">
              Many desktop publishing packages and web page editors now use Lorem
              Ipsum as their default model text.
            </h3>
    
            <span >
                <i class="bi bi-play-circle"></i>
                00:12:35            
            </span>
        </div>
      </div>
      }
    </div>
  </div>
</div>
