<div class="container arimo-regular">
  <h1>POLÍTICA DE CONFIDENCIALIDADE</h1>

  <p>
    Costa Rodrigues Advogados (“Costa Rodrigues”, “COSRO” ou “Escritório”),
    sociedade civil de advogados, submetida às regras próprias da advocacia, ao
    Código de Ética e Disciplina da Ordem dos Advogados do Brasil – OAB (Anexo
    único da Resolução nº 02/2015 do CFOAB), nos termos da Lei Federal nº
    8.906/94 e demais atos e resoluções do Conselho Federal, bem como das
    respectivas Seccionais da OAB, institui a presente Política de
    Confidencialidade (“Política de Confidencialidade”).
  </p>

  <p>
    Suas diretrizes deverão ser observadas indistintamente por todos os sócios,
    associados, empregados, trainees, paralegais, estagiários, prestadores de
    serviço, parceiros, correspondentes e/ou quaisquer outras pessoas e
    entidades que atuem em nome do Escritório, que se obrigam a conhecer e
    observar integralmente todos os seus termos (“Colaboradores”).
  </p>

  <h2>I – OBJETIVO</h2>

  <p>
    1. O objetivo desta Política de Confidencialidade é a preservação do sigilo
    de todos os dados, informações, documentos e materiais, de qualquer natureza
    e espécie, que forem elaborados, disponibilizados ou obtidos no exercício da
    relação profissional, tendo em vista o caráter confidencial dos respectivos
    materiais.
  </p>

  <h2>II – INFORMAÇÕES CONFIDENCIAIS</h2>

  <p>
    2. Toda e qualquer informação escrita, eletrônica, verbal ou visual de
    quaisquer terceiros recebidas ou obtidas pelo Escritório ou seus
    Colaboradores, bem como quaisquer documentos produzidos ou elaborados pelo
    Escritório, no exercício de suas atividades profissionais, serão
    considerados informações confidenciais e submetem-se à presente Política de
    Confidencialidade (“Informações Confidenciais”). As Informações
    Confidenciais incluem, mas não se limitam a:
  </p>

  <ul>
    <li>
      qualquer informação relacionada aos serviços prestados pelo Escritório,
      assim como as informações e dados, sejam eles provisórios ou definitivos,
      de natureza técnica, cadastral, comercial, financeira, jurídica,
      estratégica, ou outra, inclusive, e sem limitação, segredos comerciais,
      livros contábeis e societários, planos de negócios, propostas comerciais,
      processos, tabelas, projetos, apresentações, rol e dados de clientes,
      interessados ou parceiros; ou
    </li>
    <li>
      análises, compilações, pesquisas, estudos, memorandos, peças, documentos
      de qualquer natureza ou outros documentos recebidos ou preparados pelo
      Escritório e seus colaboradores.
    </li>
  </ul>
  <h2>III – OBRIGAÇÕES</h2>

  <p>
    3. As obrigações descritas nesta Política de Confidencialidade não se
    aplicarão a qualquer informação que, comprovadamente:
  </p>

  <ul>
    <li>seja de domínio público à época em que tiverem sido reveladas;</li>
    <li>
      tenham sido desenvolvidas por Colaborador a qualquer tempo, a partir de
      fontes independentes e não relacionadas à prestação de serviços do
      Escritório;
    </li>
    <li>
      seja fornecida a terceiros, de forma direta ou indireta, sem violar
      qualquer obrigação de confidencialidade disciplinada nesta Política de
      Confidencialidade;
    </li>
    <li>
      seja obrigada a ser divulgada por lei, ordem judicial ou emanada de órgão
      governamental, observado o disposto no Item 4 abaixo;
    </li>
    <li>
      seja expressa ou tacitamente identificada pelo Escritório como não mais
      sendo sigilosas ou de sua propriedade.
    </li>
  </ul>

  <h2>IV – DIVULGAÇÃO OBRIGATÓRIA</h2>

  <p>
    4. Caso seja necessária a revelação de qualquer Informação Confidencial nos
    termos desta Política de Confidencialidade em razão de obrigação legal de
    revelação, em virtude de ordem judicial ou administrativa, a parte obrigada
    a revelar a Informação Confidencial deverá notificar o Comitê Gestor do
    Escritório acerca da revelação necessária, para que decidam a abrangência
    necessária da divulgação, inclusive para permitir ao Escritório se valer dos
    melhores recursos disponíveis para impedir a divulgação das informações. Em
    qualquer caso, a parte instada a revelar informações sigilosas somente
    poderá revelá-las na extensão exigida pela ordem judicial ou administrativa
    em questão.
  </p>

  <h2>V – MANUSEIO DAS INFORMAÇÕES CONFIDENCIAIS</h2>

  <p>
    5. No manuseio das Informações Confidenciais a que tenham acesso, os
    Colaboradores do Escritório ou aqueles que agem em nome do Escritório
    obrigam-se a:
  </p>

  <ul>
    <li>
      Não divulgar, comunicar, revelar, publicar, fornecer, discutir,
      reproduzir, transferir e/ou utilizar as Informações Confidenciais a que
      tenham acesso para finalidades diversas daquelas necessárias à prestação
      de serviços para o qual o Escritório tenha sido contratado;
    </li>
    <li>
      Utilizar as Informações Confidenciais e realizar cópia de qualquer
      material que contenha Informações Confidenciais somente na medida em que
      seja necessária/exigida para a finalidade a qual o Escritório tenha sido
      contratado;
    </li>
    <li>
      Não utilizar, copiar, transformar, reproduzir ou armazenar qualquer
      Informação Confidencial em computador acessível por terceiros não
      vinculados ao Escritório, nem tampouco transmitir Informações
      Confidenciais, em qualquer formato ou por qualquer meio, para terceiros
      estranhos ao Escritório, em desacordo à prestação de serviços para a qual
      o Escritório tenha sido contratado;
    </li>
    <li>
      Permitir o acesso de terceiro às Informações Confidenciais exclusivamente
      na extensão necessária para a prestação de serviços a qual o Escritório
      tenha sido contratado e desde que tal acesso seja anuído pelo sócio
      responsável pela execução do trabalho, exigindo-se do terceiro o mesmo
      dever de sigilo;
    </li>
    <li>
      Não realizar engenharia reversa, descompilação ou desmontagem de qualquer
      Informação Confidencial recebida;
    </li>
    <li>
      Tratar as Informações Confidenciais com o mesmo grau de segurança e
      diligência que utiliza em relação a informações pessoais de importância
      similar e/ou equiparada;
    </li>
    <li>Não produzir cópias ou backup de Informações Confidenciais;</li>
    <li>
      Não utilizar as Informações Confidenciais para obter para si ou terceiros
      vantagem indevida, ou utilizar tais Informações de qualquer outra forma
      que venha a ser direta ou indiretamente prejudicial ao Escritório e/ou a
      seus negócios;
    </li>
    <li>
      Informar imediatamente ao Escritório qualquer violação das regras da
      presente Política de que tenha conhecimento ou que venha a ocorrer por sua
      ação ou omissão ou de terceiros, independentemente da existência de dolo.
    </li>
  </ul>

  <h2>VI – PROTEÇÃO DAS INFORMAÇÕES CONFIDENCIAIS</h2>

  <p>
    6. A fim de proteger as Informações Confidenciais, os Colaboradores do
    Escritório obrigam-se a utilizar programas de proteção e segurança de
    informações que busquem evitar qualquer acesso não autorizado aos seus
    sistemas, bem como seguir todos os parâmetros de segurança da informação
    indicados pelo Escritório.
  </p>

  <h2>VII – DEVOLUÇÃO E DESTRUIÇÃO DAS INFORMAÇÕES CONFIDENCIAIS</h2>

  <p>
    7. Ao término da prestação dos serviços ou quando solicitado pelo
    Escritório, o Colaborador deverá devolver de forma integral os documentos a
    ele fornecidos, inclusive as cópias porventura necessárias, comprometendo-se
    a não armazenar quaisquer reproduções ou cópias, sob pena de incorrer nas
    penalidades previstas por descumprimento deste instrumento.
  </p>

  <p>
    8. Quando não mais for necessária a manutenção de Informações Confidenciais,
    o Colaborador deverá destruir todo e qualquer documento por ele produzido
    que contenha Informações Confidenciais do Escritório e de seus clientes,
    comprometendo-se a não reter quaisquer reproduções, sob pena de incorrer nas
    responsabilidades previstas neste instrumento.
  </p>

  <h2>III – INSIDER TRADING</h2>

  <p>
    9. No âmbito de suas atividades, os Colaboradores do Escritório poderão ter
    acesso a informações privilegiadas, assim entendidas como informações
    sigilosas ou informações não públicas, que podem ou não envolver o mercado
    de capitais, condições econômico-financeiras de empresas, condições
    favoráveis ou desfavoráveis de investimento, processos judiciais ou
    extrajudiciais ou operações societárias de diversas naturezas (“Informações
    Privilegiadas”). Todos os colaboradores do Escritório são terminantemente
    proibidos de negociar, em benefício próprio ou de terceiros, com base em
    Informações Privilegiadas. Tal ato é criminoso, proibido pela regulamentação
    vigente no País, e inaceitável de acordo com esta Política de
    Confidencialidade e demais diretrizes do Escritório. Ademais, nenhuma
    Informação Privilegiada pode ser transmitida, direta ou indiretamente,
    inclusive por meio de recomendação positiva de compra ou venda de títulos
    mobiliários ou oportunidades de investimento, para quaisquer clientes ou
    terceiros.
  </p>

  <p>
    10. É proibida a negociação de títulos mobiliários ou a realização de
    quaisquer operações privadas ou de investimentos pelos Colaboradores do
    Escritório ou pessoas a eles relacionadas com base em Informações
    Privilegiadas obtidas diretamente ou mediante o uso indevido de Informação
    Privilegiada de qualquer terceiro que porventura seja um “Insider”. Qualquer
    uso direto ou indireto de tais informações, para benefício próprio ou de
    terceiros, é crime, e é proibido nos termos desta Política de
    Confidencialidade.
  </p>
</div>
