<footer>
  <div class="top">
    <div class="list">
      <p (click)="navigate('politica-anticorrupcao','')">Anticorrupção</p>
      <p>|</p>
      <p (click)="navigate('politica-confidencialidade','')">Confidencialidade</p>
      <p>|</p>
      <p (click)="navigate('politica-etica-e-conduta','')">Ética e Conduta</p>
      <p>|</p>
      <p (click)="navigate('politica-privacidade','')">Dados para Privacidade</p>
      <p>|</p>
      <p (click)="navigate('acessibilidade','')">Acessibilidade</p>
    </div>
  </div>

  <div id="container" class="container">
    <ul>
      <h5>Atuação</h5>

      <li>
        <button>
          <p>Agronegócio</p>
        </button>
      </li>

      <li>
        <button>
          <p>Alimentos e Bebidas</p>
        </button>
      </li>
      <li>
        <button>
          <p>Bens de Consumo e Varejo</p>
        </button>
      </li>
      <li>
        <button>
          <p>Cannabis</p>
        </button>
      </li>
      <li>
        <button>
          <p>Descarbonização</p>
        </button>
      </li>
      <li>
        <button>
          <p>Energia</p>
        </button>
      </li>
      <li>
        <button>
          <p>Esportes</p>
        </button>
      </li>
      <li>
        <button>
          <p>Imobiliário</p>
        </button>
      </li>
      <li>
        <button>
          <p>Infraestrutura</p>
        </button>
      </li>
      <li>
        <button>
          <p>Life Sciences e Healthcare</p>
        </button>
      </li>
      <li>
        <button>
          <p>Mineração</p>
        </button>
      </li>
      <li>
        <button>
          <p>Navegação</p>
        </button>
      </li>
      <li>
        <button>
          <p>Tecnologia</p>
        </button>
      </li>
    </ul>

    <ul>
      <h5>Presença</h5>
      <li>
        <button>
          <p>Brasília</p>
        </button>
      </li>
      <li>
        <button>
          <p>São Paulo</p>
        </button>
      </li>
      <li>
        <button>
          <p>Rio de Janeiro</p>
        </button>
      </li>
      <li>
        <button>
          <p>Madrid</p>
        </button>
      </li>
      <li>
        <button>
          <p>Nova Iorque</p>
        </button>
      </li>
      <li>
        <button>
          <p>Roma</p>
        </button>
      </li>
      <li>
        <button>
          <p>Singapura</p>
        </button>
      </li>
    </ul>
    <ul>
      <h5>Escritorio</h5>
      <li>
        <button>
          <p>Quem somos</p>
        </button>
      </li>
      <li>
        <button>
          <p>Diversidade, Equidade e Inclusão</p>
        </button>
      </li>
      <li>
        <button>
          <p>Responsabilidade Social e Pro bono</p>
        </button>
      </li>
      <li>
        <button>
          <p>Sustentabilidade</p>
        </button>
      </li>
      <li>
        <button>
          <p>Insights</p>
        </button>
      </li>
      <li>
        <button>
          <p>Carreira</p>
        </button>
      </li>
    </ul>

    <ul>
      <h5>Carreira</h5>
      <li>
        <button>
          <p>Contato</p>
        </button>
      </li>
    </ul>
    <ul>
      <h5>Conect e-se</h5>
      <p>
        <i class="bi bi-linkedin"></i>
        <a href="">Linkedin</a>
      </p>
      <p>
        <i class="bi bi-instagram"></i>
        <a href="">Instagram</a>
      </p>
    </ul>
  </div>

  <div class="bottom">
    <img src="../../../assets/Logo_01.png" alt="" />
   
    <p>© 2024 A&O Costa Rodrigues</p>
  </div>
</footer>
