<footer>
    <div class="top">
        <p>
            It has survived not only five centuries,
            but also the leap into electronic typesetting,
            remaining essentially unchanged.
        </p>

        <button class="contact-btn"> CONTATO</button>
    </div>

    <div class="list">
        <p>
            Notificação de privacidade
        </p>
        <p>|</p>
        <p>
            Acessibilidade

        </p>
        <p>|</p>
        <p>
            Recuperação de Desastres
        </p>
        <p>|</p>
        <p>
            Avisos Legais
        </p>
        <p>|</p>
        <p>
            Declaração de Escravidão Anti-Moderna
        </p>
    </div>

    <div id='container' class="container">
        <ul>
            <h5>SERVICES</h5>
            @for (item of expertise.expertise; track $index) {
            <li>
                <button (click)="navigate(item.path,'Expertise')">
                    <p>{{item.name}}</p>
                </button>
            </li>
            }
        </ul>
        <ul>
            <h5>GLOBAL COVERAGE</h5>

            @for (item of globalCoverage.continents; track $index) {
            <li>
                <button (click)="navigate(item.path,'Global Coverage')">
                    <p>{{item.name}}</p>
                </button>
            </li>
            }
        </ul>
        <ul>
            <h5>FIRM</h5>
            <li>
                <button (click)="navigate('careers','')">
                    <p>About us</p>
                </button>
            </li>
            <li>
                <button (click)="navigate('careers','')">
                    <p>Careers</p>
                </button>
            </li>
            <li>
                <button (click)="navigate('careers','')">
                    <p>Contact us</p>
                </button>
            </li>
            <li>
                <button (click)="navigate('careers','')">
                    <p>Knowledge resources</p>
                </button>
            </li>
            <li>
                <button (click)="navigate('careers','')">
                    <p>People</p>
                </button>
            </li>
        </ul>

        <div id="social" class="social">
            <ul>
                <h5>SOCIAL</h5>
                <p>
                    <i class="bi bi-linkedin"></i>
                    <a href="">LINKEDIN</a>
                </p>
            </ul>
        </div>
    </div>

    <div class="bottom">
        <img src="../../../assets/Logo_01.png" alt="">
        <ul>
            <li>Accessibility</li>
            <li>Cookie policy</li>
            <li>Privacy policy</li>
            <li>Legal notices</li>
        </ul>
        <p>
            © 2024 A&O Costa Rodrigues
        </p>
    </div>
</footer>