<div
  class="bar"
  [ngClass]="{
    'home': isActive === 'home'
  }"
>
  <div class="container " [ngClass]="{
    'home-border': isActive === 'home'
  }">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-4">
        <img
          src="assets/logo.png"
          alt="logo"
          width="371"
          height="67"
          (click)="navigate('home')"
        />
      </div>

      <div class="col-sm-6 text-center">
        <ul class="lista d-flex justify-content-center">
          <li
            [ngClass]="{
              'active-border': isActive === 'people-search'
            }"
          >
            <div class="title arimo-regular" (click)="openModalXl(content)">
              Pessoas
            </div>
          </li>
          <li
            [ngClass]="{
              'active-border': isActive === 'office'
            }"
          >
            <div
              class="title arimo-regular"
              (click)="openModalXl(contentOffice)"
            >
              O escritório
            </div>
          </li>

          <li
            [ngClass]="{
              'active-border': isActive === 'atuacao'
            }"
          >
            <div
              class="title arimo-regular"
              (click)="openModalXl(contentAtuacao)"
            >
              Atuação
            </div>
          </li>
          <li
            [ngClass]="{
              'active-border': isActive === 'insights'
            }"
          >
            <div class="title arimo-regular" (click)="navigate('insights')">
              Insigths
            </div>
          </li>
          <li
            [ngClass]="{
              'active-border': isActive === 'careers'
            }"
          >
            <div class="title arimo-regular" (click)="navigate('careers')">
              Carreira
            </div>
          </li>
        </ul>
      </div>

      <!--  <div class="col-sm-1 text-center">
        <app-toggle></app-toggle>
      </div> -->

      <div class="col-sm-1">
        <button class="btn-nav">
          <p><i class="bi bi-search"></i></p>
        </button>
      </div>
    </div>
  </div>
</div>

<div style="height: 142px; width: 100%" [ngClass]="{
  'home-back': isActive === 'home'
}"></div>

<!-- Modal de pessoas-->

<ng-template #content>
  <div class="line"></div>
  <div class="content">
    @for (item of arrayPessoas; track $index) {
    <div style="margin-left: 12%">
      <div class="modal-header">
        <h1 class="arapey-regular">
          {{ item.title }}
        </h1>
      </div>
      <div class="modal-body">
        @for (opcao of item.opcao; track $index) {
        <ul>
          <li class="label arimo-regular col" (click)="navigate(opcao.path)">
            <i class="bi bi-arrow-right"></i>
            <b>
              {{ opcao.label }}
            </b>
          </li>
          @if(opcao.text !== ''){
          <li class="text arimo-regula col">
            {{ opcao.text }}
          </li>
          }
        </ul>
        }
      </div>
    </div>
    }
  </div>
</ng-template>

<!-- Modal do escritorio -->
<ng-template #contentOffice let-modal>
  <div class="line"></div>
  <div class="content">
    @for (item of arrayOffice; track $index) {
    <div style="margin-left: 12%">
      <div class="modal-header">
        <h1 class="arapey-regular">
          {{ item.title }}
        </h1>
      </div>
      <div class="modal-body">
        <ul class="grid-list" style="padding-left: 3rem">
          @for (opcao of item.opcao; track $index) {
          <li class="list-office arimo-regular col-5">
            <i class="bi bi-arrow-right"></i>
            <b>
              {{ opcao.label }}
            </b>
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
</ng-template>

<!-- Modal do atuação -->
<ng-template #contentAtuacao let-modal>
  <div class="line"></div>
  <div class="content">
    @for (item of arrayAtuacao; track $index) {
    <div style="margin-left: 12%">
      <div class="modal-header">
        <h1 class="arapey-regular">
          {{ item.title }}
        </h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <ul class="col-4" style="padding-left: 3rem">
            @for (opcao of item.opcao; track $index) {
            <li class="list-office arimo-regular col" (click)="navigate('atuacao')">
              <i class="bi bi-arrow-right"></i>
              <b>
                {{ opcao.label }}
              </b>
            </li>
            }
          </ul>
          <ul class="col-4" style="padding-left: 3rem">
            @for (opcao of item.opcao2; track $index) {
            <li class="list-office arimo-regular col">
              <i class="bi bi-arrow-right"></i>
              <b>
                {{ opcao.label }}
              </b>
            </li>
            }
          </ul>
          <ul class="col-4" style="padding-left: 3rem">
            @for (opcao of item.opcao3; track $index) {
            <li class="list-office arimo-regular col">
              <i class="bi bi-arrow-right"></i>
              <b>
                {{ opcao.label }}
              </b>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    }
  </div>
</ng-template>
