<div class="container arimo-regular">
  <h1>POLÍTICA ANTICORRUPÇÃO</h1>

  <p>
    Costa Rodrigues Advogados (“Costa Rodrigues”, “COSRO” ou “Escritório”),
    sociedade civil de advogados, submetida às regras próprias da advocacia, ao
    Código de Ética e Disciplina da Ordem dos Advogados do Brasil – OAB (Anexo
    único da Resolução nº 02/2015 do CFOAB), nos termos da Lei Federal nº
    8.906/94 e demais atos e resoluções do Conselho Federal, bem como das
    respectivas Seccionais da OAB e demais normas jurídicas pertinentes,
    institui a presente Política Anticorrupção (“Política Anticorrupção”).
  </p>

  <p>
    Suas diretrizes deverão ser observadas indistintamente por todos os sócios,
    associados, empregados, trainees, paralegais, estagiários, prestadores de
    serviço, parceiros, correspondentes e/ou quaisquer outras pessoas e
    entidades que atuem em nome ou em parceria com o Escritório, que se obrigam
    a conhecer e observar integralmente todos os seus termos (“Colaboradores”),
    buscando a preservação da reputação do Escritório junto a seus clientes, ao
    Poder Judiciário e ao mercado em geral, bem como por terceiros que atuem em
    seu nome perante representantes da Administração Pública, parceiros de
    negócios, clientes, fornecedores ou prestadores de serviços, de forma que
    todos estarão aptos a auxiliar na identificação de situações de risco e
    engajados no objetivo de mitigá-las.
  </p>

  <h2>I – ABRANGÊNCIA</h2>

  <ol>
    <li>
      A presente Política Anticorrupção abrange todos os Colaboradores do
      Escritório e Terceiros que atuem em nome do Escritório.
    </li>
    <li>
      Para a melhor interpretação desta Política Anticorrupção, são
      estabelecidas as seguintes definições:
      <ul>
        <li>
          <strong>Agente Público</strong> é qualquer pessoa que exerça, ainda
          que transitoriamente, com ou sem remuneração, por eleição, convocação,
          nomeação, designação, contratação ou qualquer outra forma de
          investidura ou vínculo, mandato, cargo, emprego ou função: (a) nos
          Poderes Legislativo, Executivo e Judiciário, nacional ou estrangeiro,
          independentemente de ser essa pessoa nomeada ou eleita; (b) em ente
          público, órgão público, autarquia, fundação pública, sociedade de
          economia mista ou empresa pública, nacional ou estrangeira, ou, mesmo
          que, trabalhando para ente privado, atue na prestação de serviços
          públicos para a Administração Pública nacional; ou (c) em organizações
          públicas internacionais ou pessoas jurídicas controladas direta ou
          indiretamente pelo poder público de país estrangeiro ou entidades
          estatais ou em representações diplomáticas de país estrangeiro. O
          significado de Agente Público inclui, ainda, partidos políticos e
          candidatos a cargos públicos;
        </li>
        <li>
          <strong>Colaborador(es)</strong> significa qualquer sócio, advogado
          associado, empregado, trainee, paralegal, estagiário, prestador de
          serviço, parceiro, correspondente e/ou qualquer outra pessoa e
          entidade que atuem em nome ou em parceria com o Escritório;
        </li>
        <li>
          <strong>Corrupção</strong>, nos termos desta Política Anticorrupção, é
          usado em sentido amplo, incluindo o crime de corrupção propriamente
          dito – tipificado na legislação brasileira –, bem como o ato ou efeito
          de degenerar, seduzir ou ser seduzido por dinheiro, entretenimentos ou
          quaisquer benefícios que levem alguém a se afastar, agir ou deixar de
          agir de acordo com a lei, os normativos internos a que esteja
          vinculado, a moral, os bons costumes ou o que é considerado como
          correto no meio social.
        </li>
        <li>
          <strong>Leis Anticorrupção</strong> é o conjunto de leis e
          regulamentos aplicáveis ao combate e repreensão à corrupção no Brasil,
          tais como o Código Penal (Lei Federal nº 2.848/40), a Lei de
          Improbidade Administrativa (Lei Federal nº 8.249/92), a Lei
          Anticorrupção (Lei Federal nº 12.846/13) e seu respectivo Decreto
          Regulamentador (Decreto Federal nº 8.420/15), que dispõem sobre a
          responsabilização administrativa, civil e penal de pessoas naturais e
          jurídicas pela prática de atos lesivos contra a administração pública
          nacional, bem como todos os demais atos normativos que regem a
          probidade e a conduta ética de agentes públicos;
        </li>
        <li>
          <strong>Terceiro(s)</strong> é qualquer pessoa com a qual o Escritório
          se relacione comercialmente – tais como, mas não se limitando a,
          parceiros, clientes (contratados ou potenciais), fornecedores
          (contratados ou potenciais), contadores, despachantes e prestadores de
          serviços (contratados ou potenciais) – ou que atue em seu nome, seja
          no relacionamento com representantes da administração pública
          nacional, parceiros de negócios, clientes, fornecedores ou prestadores
          de serviços.
        </li>
      </ul>
    </li>
  </ol>
  <h2>II – DIRETRIZES GERAIS</h2>

  <ol start="3">
    <li>
      Não será tolerada qualquer forma de Corrupção, tal como definida nesta
      Política Anticorrupção, em interações com entes públicos ou partes
      privadas.
    </li>
    <li>
      Os Colaboradores do Escritório deverão evitar qualquer conduta que possa
      ser interpretada como sendo imprópria ou não condizente com os padrões
      estabelecidos nesta Política Anticorrupção.
    </li>
    <li>
      No relacionamento com a Administração Pública, seja na esfera federal,
      estadual, distrital ou municipal, ou com entidades privadas, os
      Colaboradores devem se abster de prometer, oferecer ou, ainda, autorizar o
      oferecimento de qualquer vantagem indevida com o objetivo de influenciar
      decisões que afetem os serviços do Escritório ou que impliquem em ganho
      pessoal para qualquer colaborador. É vedado, ainda, aos colaboradores,
      mediante Corrupção ou qualquer outra forma de influência ou interferência
      indevida, obstruir eventuais atividades fiscalizatórias (seja ocultando,
      segregando ou manipulando informações).
    </li>
  </ol>
  <h2>III – APURAÇÃO DAS INFRAÇÕES</h2>

  <ol start="6">
    <li>
      Será considerada infração a esta Política Anticorrupção qualquer
      descumprimento de suas diretrizes, independentemente da verificação da
      efetiva obtenção da vantagem ou do resultado pretendido com a conduta,
      possibilitando que o Escritório adote todas as medidas judiciais cabíveis
      em caso de comprovada violação.
    </li>
    <li>
      Todo e qualquer descumprimento às diretrizes desta Política Anticorrupção,
      ainda que identificadas por terceiros, deverá ser reportado ao Escritório
      por correio eletrônico ou por canais de denúncia disponíveis, e será
      investigado pelo Comitê Gestor, com a possibilidade de imposição de
      sanções cabíveis.
    </li>
  </ol>

  <h2>IV – DIRETRIZES ESPECÍFICAS</h2>

  <h2>IV.I – BRINDES, PRESENTES, VIAGENS E ENTRETENIMENTO</h2>

  <ol start="8">
    <li>
      Nenhum brinde, presente, viagem ou entretenimento poderá, em hipótese
      alguma, ser dado a qualquer pessoa, seja ela Agente Público ou não, com o
      intuito de influenciar ou compensar impropriamente um ato ou decisão em
      benefício do Escritório, de seus colaboradores ou de clientes.
    </li>
    <li>
      Permite-se a oferta de cortesias corporativas por profissionais a clientes
      ou terceiros desde que seja previamente aprovada pelo Comitê Gestor do
      Escritório, envolva valor simbólico, não haja vinculação a qualquer tipo
      de troca, recompensa ou favor que possa vir a conceder vantagem ou poder
      de influência ao Escritório ou a qualquer um de seus colaboradores, bem
      como não haja habitualidade na cortesia ofertada.
    </li>
    <li>
      Permite-se que os colaboradores aceitem cortesias, presentes, brindes e
      refeições oferecidas por clientes, desde que:
      <ul>
        <li>
          Não possuam valor comercial, como, por exemplo, material de
          escritório, agendas, calendários, livros;
        </li>
        <li>Não sejam habituais;</li>
        <li>
          Não possam influenciar qualquer decisão ou atuação profissional do
          destinatário em qualquer contexto ou causar impressão de poder ou de
          pretensão de influência.
        </li>
      </ul>
    </li>
    <li>
      Caso o colaborador receba brindes diversos das características permitidas,
      deverá comunicar expressamente ao Escritório para que seja deliberada a
      melhor forma de tratar a questão.
    </li>
    <li>
      Os colaboradores poderão participar de eventos externos a convite de
      parceiros e clientes, desde que relacionados aos serviços prestados pelo
      Escritório.
    </li>
  </ol>
  <h2>IV.II - TERCEIROS QUE ATUEM EM NOME DO ESCRITÓRIO</h2>

  <ol start="12">
    <li>
      Após a contratação de qualquer Terceiro que atue em nome do Escritório, é
      dever do Colaborador responsável pela contratação acompanhar suas
      atividades, sempre atento a eventuais sinais de alerta ou de
      descumprimento às Leis Anticorrupção.
    </li>
    <li>
      Qualquer motivo legítimo para se crer que uma conduta proibida ou coibida
      pelas Leis Anticorrupção ou por esta Política Anticorrupção tenha sido,
      esteja sendo ou possa ser adotada ou prometida por um Terceiro em nome do
      Escritório, deve ser comunicado imediatamente por correio eletrônico ou
      por canais de denúncia disponíveis.
    </li>
  </ol>

  <h2>IV.III – DOAÇÕES FILANTRÓPICAS</h2>

  <ol start="13">
    <li>
      Qualquer doação demandará a realização de análise prévia, no intuito de
      verificar se a entidade a ser beneficiada é regida exclusivamente por
      razões filantrópicas legítimas e somente será autorizada pelo Comitê
      Gestor do Escritório.
    </li>
    <li>
      Em hipótese alguma será feita doação filantrópica, com o intuito de obter
      vantagens indevidas, à instituição beneficente na qual Agente Público,
      membro de sua família ou pessoa a ele ligada direta ou indiretamente,
      possua cargo, emprego ou função, seja por iniciativa dos Colaboradores ou
      a pedido do Agente Público.
    </li>
    <li>
      Preenchidos todos os requisitos estabelecidos nesta Política
      Anticorrupção, será necessária a obtenção do comprovante de recebimento da
      doação filantrópica emitido pela instituição beneficente, detalhado e
      assinado com firma reconhecida por seu administrador legalmente
      constituído.
    </li>
  </ol>

  <h2>IV.IV. CONTRIBUIÇÕES E DOAÇÕES POLÍTICAS</h2>

  <ol start="16">
    <li>
      Não serão efetuadas quaisquer contribuições e/ou doações a partidos
      políticos, campanhas políticas e/ou candidatos a cargos públicos,
      realizadas de forma institucional pelo Escritório, sendo vedado aos
      Colaboradores de utilizar o Escritório, seu nome ou seus recursos, para
      fazer contribuições e/ou doações a partidos políticos, campanhas políticas
      e/ou candidatos a cargos públicos.
    </li>
  </ol>

  <h2>IV.V. PATROCÍNIOS</h2>

  <ol start="17">
    <li>
      Os patrocínios em nome do Escritório deverão ser autorizados pelo Comitê
      Gestor do Escritório, ser baseados em contratos formalizados entre o
      Escritório e as instituições que o receberão, devendo observar, no que
      couber, o disposto no Tópico IV.III (Doações Filantrópicas) e guardar
      pertinência com as atividades desenvolvidas pelo Escritório.
    </li>
  </ol>
  <h2>IV.VI. REGISTROS CONTÁBEIS</h2>

  <ol start="18">
    <li>
      É obrigação dos Colaboradores que porventura estejam encarregados de
      livros, registros e contas refletir, de forma detalhada, precisa e
      correta, todas as transações realizadas pelo Escritório.
    </li>
    <li>
      Para combater a Corrupção, é importante que as transações sejam
      transparentes e totalmente documentadas e classificadas para as contas
      contábeis que reflitam, de maneira precisa, a sua natureza.
    </li>
    <li>
      Qualquer tentativa de camuflar pagamentos, entradas de valores ou qualquer
      outra forma de recebimento de quantias ilegais pelo Escritório são
      expressamente vedadas, passíveis de sanções, sem prejuízo de
      responsabilização nas esferas administrativa, cível e criminal.
    </li>
    <li>
      Todas as operações devem ser registradas em consonância com as regras
      contábeis de regência, permitindo a elaboração de demonstrações
      financeiras fidedignas e padronizadas.
    </li>
  </ol>

  <h2>IV.VII. SINAIS DE ALERTA – RED FLAGS</h2>

  <ol start="20">
    <li>
      Os Colaboradores, bem como Terceiros que eventualmente atuem em nome do
      Escritório, deverão estar atentos aos sinais de alerta que podem indicar
      vantagens ou pagamentos indevidos em desconformidade com esta Política
      Anticorrupção.
    </li>
    <li>
      Os sinais de alerta não são, necessariamente, provas de Corrupção, nem
      desqualificam, automaticamente, quem deles participar, e devem ser
      comunicadas nos termos do item 7 desta Política Anticorrupção.
    </li>
    <li>
      Os Colaboradores e Terceiros que eventualmente atuem em nome do Escritório
      devem dedicar especial atenção aos sinais de alerta abaixo exemplificados,
      sendo que os indícios podem variar em função da natureza da operação, da
      localização geográfica ou da solicitação de pagamento e/ou despesa:
      <ul>
        <li>
          Contraparte que tenha sido punida administrativamente, condenada
          judicialmente ou investigada por envolvimento, ainda que indireto, em
          atos relativos à Corrupção, antiéticos ou potencialmente ilegais;
        </li>
        <li>
          Contraparte que pede comissões excessivas ou pagamentos em dinheiro;
        </li>
        <li>
          Contraparte controlada por Agente Público, seu familiar ou que tem
          relacionamento próximo a órgãos governamentais;
        </li>
        <li>Contraparte recomendada por Agente Público;</li>
        <li>
          Contraparte que fornece ou requisita fatura ou qualquer outro
          documento duvidoso;
        </li>
        <li>
          Contraparte que se recusa ou tenta dificultar a inclusão de cláusulas
          anticorrupção em instrumento escrito;
        </li>
        <li>
          Contraparte que propõe uma operação financeira diversa das práticas
          usualmente adotadas para o tipo de operação ou negócio a ser
          realizado;
        </li>
        <li>Contraparte que não possui escritório ou funcionários;</li>
        <li>
          Agente Público que cria dificuldades desproporcionais para o
          desenvolvimento de suas atividades.
        </li>
      </ul>
    </li>
  </ol>

  <h2>V – DESCUMPRIMENTO E PENALIDADES</h2>

  <ol start="22">
    <li>
      Quaisquer Colaboradores e Terceiros que atuem em nome do Escritório, que
      pratiquem condutas em violação ao disposto nesta Política Anticorrupção,
      estarão sujeitos a atos disciplinares do Escritório, inclusive, se
      cabível, a rescisão do vínculo contratual existente. As violações podem
      resultar em responsabilidade administrativa, criminal e/ou civil para os
      Colaboradores ou Terceiros envolvidos. Os infratores, portanto, estarão
      sujeitos a ações disciplinares, inclusive demissão por justa causa e
      possível encaminhamento de denúncias aos órgãos governamentais
      apropriados. As penalidades serão graduadas de acordo com a gravidade da
      infração, de eventual reincidência e dos efeitos causados ao Escritório.
    </li>
    <li>
      O Colaborador que violar as obrigações previstas nesta Política
      Anticorrupção deverá indenizar e ressarcir o Escritório pelas perdas,
      lucros cessantes, danos diretos e indiretos e quaisquer outros prejuízos
      patrimoniais ou morais que surjam em decorrência deste descumprimento.
    </li>
    <li>
      O Colaborador deve se comprometer a isentar o Escritório em relação a toda
      e qualquer demanda em processos administrativos e/ou judiciais
      relacionados ao descumprimento pelo Colaborador de quaisquer obrigações
      estabelecidas neste Termo.
    </li>
  </ol>

  <h2>VI – DISPOSIÇÕES GERAIS</h2>

  <ol start="25">
    <li>
      Esta Política Anticorrupção poderá ser alterada no todo ou em parte pelo
      Escritório.
    </li>
    <li>
      Esta Política Anticorrupção vigorará por prazo indeterminado, permanecendo
      válida por todo o período de duração da relação entre o Colaborador e o
      Escritório.
    </li>
  </ol>
</div>
