<div id="content" class="content">
    <div id="introduction" class="introduction">
        <h1>Global<br> coverage</h1>
        <p>Through our office network and our relationships
            with the world's best local law firms, we support
            sour clients wherever they do business.
        </p>
    </div>
    <div class="image">
        <img src="assets/image-16.webp" alt="">
    </div>
    <div id="text-area" class="text-area">
        <h1>World class advice. In every market.</h1>
        <p>
            A&O Shearman is built to handle our clients'
            most complex multijurisdictional
            matters. Read about our regional strength below.
        </p>
    </div>
    <div id="expertise-page" class="expertise-page">
        @for (item of continents; track $index) {
        <div class="item">
            <button (click)="navigate(item.path)">
                <p>
                    {{item.name}}
                </p>
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
        }
    </div>
</div>
<app-find-an-advision></app-find-an-advision>