<div>
  <div class="container">
    <ul
      ngbNav
      #navTabs="ngbNav"
      class="nav nav-tabs d-flex justify-content-center line"
      role="tablist"
    >
      <li [ngbNavItem]="1">
        <a class="arimo-regular" ngbNavLink>OPORTUNIDADES</a>
        <ng-template ngbNavContent>
          <div class="about-us">
            <div class="content container">
              <div class="row">
                <ul class="col-6">
                  @for (item of
                  oportunidadesArray.slice(0,oportunidades.length/2 ); track
                  $index) {
                  <li class="arimo-regular">
                    <i class="bi bi-arrow-right"></i>
                    {{ item }}
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <a class="arimo-regular" ngbNavLink>DESAFIOS</a>
        <ng-template ngbNavContent>
          <div class="about-us">
            <div class="content container">
              <div class="row">
                <ul class="col-6">
                  @for (item of desafiosArray; track $index) {
                  <li class="arimo-regular">
                    <i class="bi bi-arrow-right"></i>
                    {{ item }}
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="3">
        <a class="arimo-regular" ngbNavLink>MACRO TENDÊNCIAS</a>
        <ng-template ngbNavContent>
          <div class="about-us">
            <div class="content container">
              <div class="row">
                <ul class="col-6">
                  @for (item of
                  macroTendenciasArray.slice(0,oportunidades.length/2 ); track
                  $index) {
                  <li class="arimo-regular">
                    <i class="bi bi-arrow-right"></i>
                    {{ item }}
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
  <div [ngbNavOutlet]="navTabs" class="tab-content mt-3"></div>
</div>
<div class="experiencia">
  <div class="container">
    <div class="row">
      <h3 class="arapey-regular">Experiência em Destaque</h3>

      <ul>
        @for (item of experienciasArray; track $index) {
        <li>
          <div class="conteudo arimo-regular" (click)="alternarConteudo($index)">
            @if (!item.mostrar) {<i class="bi bi-chevron-down"></i>} @if
            (item.mostrar) {<i class="bi bi-chevron-up"></i>} {{ item.nome }}
          </div>

          @if (item.mostrar) {
          <p class="arimo-regular">
            {{item.conteudo}}
          </p>
          }
        </li>
        }
      </ul>
    </div>
  </div>
</div>
