.about-us {
  padding: 2rem;
  h1 {
    font-size: 36px;
    color: #035151;
    line-height: 40px;
    font-weight: 500;
  }

  p{
    color: #505050;
    font-size: 22px;
    line-height: 30px;
    border-top: #39E2B0 solid 3px;
    padding-top: 3rem;
    margin-top: 3rem;
  }

  a{

    border: none;
  }

  ul{
    li{
      border: none;
    }
  }
  img{
    margin-bottom: 5rem;
  }
}

a{
  color: #505050;
  font-size: 20px;
  font-weight: 600;
  border: none;

}
.nav-tabs{
  border: none;
}
.nav-link.active{
  border: none;
  box-shadow: none;
  border-radius: none;
  border-bottom: #39E2B0 solid 5px;
  background: none;
  color: #505050;
}
.nav-link:hover{
  color: #505050;
}


.line{
  border-bottom: #505050 solid 2px;
  
}