mat-tab-group {
  width: 100%;
  background: #efefef;
  border-left: #035151 solid 66px;
  padding: 2rem 0;
}

mat-tab{
  label{
    color: #39E2B0!important;
  }
}
.about-us {
  padding: 2rem;
  h1 {
    font-size: 36px;
    color: #035151;
    line-height: 40px;
    font-weight: 500;
  }

  p{
    color: #505050;
    font-size: 22px;
    line-height: 30px;
    border-top: #39E2B0 solid 3px;
    padding-top: 3rem;
    margin-top: 3rem;
  }

  img{
    margin-bottom: 5rem;
  }
}