<div id="Spotlight-on" class="Spotlight-on">
  <mat-tab-group
    animationDuration="2000ms"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
  >
    <mat-tab label="QUEM SOMOS">
      <div class="about-us">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h1 class="arapey-regular">Costa Rodrigues Advogados, COSRO</h1>
              <p class="arimo-regular">
                Este nome, que não personifica um advogado ou advogada, mas sim
                um escritório multisetorial e multidisciplinar de advocacia,
                carrega a responsabilidade e o compromisso de cada um de nós em
                auxiliar nossos clientes a impactar positivamente a vida das
                sociedades e comunidades em que atuam.
              </p>
              <img src="./assets/foto_07.png" alt="" />
            </div>
            <div class="col-4">
              <h1 class="arapey-regular">
                Somos mais de 50 profissionais multisetoriais e
                multidisciplinares
              </h1>
              <p class="arimo-regular">
                Acumulamos décadas de experiência profissional adquiridas nos
                maiores escritórios de advocacia full service do Brasil e do
                mundo
              </p>
              <img src="./assets/Intersect_3.png" alt="" />
            </div>
            <div class="col-4">
              <img src="./assets/globo_2.png" alt="" />
              <h1 class="arapey-regular">Reunimos visões variadas de mundo</h1>
              <p class="arimo-regular">
                Visões que convergem no interesse comum em entregar valor para
                nossos clientes e prestar serviços de excelência. Juntos,
                trabalhamos incansavelmente para promover desenvolvimento
                sustentável, diversidade, equidade e inclusão, refletindo nossa
                missão de fazer a diferença em cada relação que construímos
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="ENERGIA">
      <div class="about-us">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h1 class="arapey-regular">Costa Rodrigues Advogados, COSRO</h1>
              <p class="arimo-regular">
                Este nome, que não personifica um advogado ou advogada, mas sim
                um escritório multisetorial e multidisciplinar de advocacia,
                carrega a responsabilidade e o compromisso de cada um de nós em
                auxiliar nossos clientes a impactar positivamente a vida das
                sociedades e comunidades em que atuam.
              </p>
              <img src="./assets/foto_07.png" alt="" />
            </div>
            <div class="col-4">
              <h1 class="arapey-regular">
                Somos mais de 50 profissionais multisetoriais e
                multidisciplinares
              </h1>
              <p class="arimo-regular">
                Acumulamos décadas de experiência profissional adquiridas nos
                maiores escritórios de advocacia full service do Brasil e do
                mundo
              </p>
              <img src="./assets/Intersect_3.png" alt="" />
            </div>
            <div class="col-4">
              <img src="./assets/globo_2.png" alt="" />
              <h1 class="arapey-regular">Reunimos visões variadas de mundo</h1>
              <p class="arimo-regular">
                Visões que convergem no interesse comum em entregar valor para
                nossos clientes e prestar serviços de excelência. Juntos,
                trabalhamos incansavelmente para promover desenvolvimento
                sustentável, diversidade, equidade e inclusão, refletindo nossa
                missão de fazer a diferença em cada relação que construímos
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="DIVERCIDADE">
      <div class="about-us">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h1 class="arapey-regular">Costa Rodrigues Advogados, COSRO</h1>
              <p class="arimo-regular">
                Este nome, que não personifica um advogado ou advogada, mas sim
                um escritório multisetorial e multidisciplinar de advocacia,
                carrega a responsabilidade e o compromisso de cada um de nós em
                auxiliar nossos clientes a impactar positivamente a vida das
                sociedades e comunidades em que atuam.
              </p>
              <img src="./assets/foto_07.png" alt="" />
            </div>
            <div class="col-4">
              <h1 class="arapey-regular">
                Somos mais de 50 profissionais multisetoriais e
                multidisciplinares
              </h1>
              <p class="arimo-regular">
                Acumulamos décadas de experiência profissional adquiridas nos
                maiores escritórios de advocacia full service do Brasil e do
                mundo
              </p>
              <img src="./assets/Intersect_3.png" alt="" />
            </div>
            <div class="col-4">
              <img src="./assets/globo_2.png" alt="" />
              <h1 class="arapey-regular">Reunimos visões variadas de mundo</h1>
              <p class="arimo-regular">
                Visões que convergem no interesse comum em entregar valor para
                nossos clientes e prestar serviços de excelência. Juntos,
                trabalhamos incansavelmente para promover desenvolvimento
                sustentável, diversidade, equidade e inclusão, refletindo nossa
                missão de fazer a diferença em cada relação que construímos
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
