.Spotlight-on {
  mat-tab-group {
    width: 100%;
    background: #efefef;
  }
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  padding-top: 7rem;
  padding-bottom: 5rem;
  gap: 2rem;
  .item-1 {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    h1 {
      line-height: 50px;
      font-size: 48px;
      font-weight: 500;
      color: #035151;
    }
    p {
      color: #505050;
      font-size: 16px;
      font-weight: 500;
      margin-left: 5rem;
      border-top: solid 3px #fe6e5b;
      padding-top: 1rem;
    }
    img {
      border-top: 40px solid #035151;
    }
  }
  .item-2 {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    h1 {
      line-height: 50px;
      font-size: 48px;
      font-weight: 500;
      color: #035151;
    }
    p {
      color: #505050;
      font-size: 16px;
      font-weight: 500;
      width: 15vw;
      border-top: solid 3px #fe6e5b;
      padding-top: 1rem;
    }
  }
  .item-3 {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    h1 {
      line-height: 50px;
      font-size: 48px;
      font-weight: 500;
      color: #035151;
    }
    p {
      color: #505050;
      font-size: 16px;
      font-weight: 500;
      margin-left: 5rem;
      border-top: solid 3px #fe6e5b;
      padding-top: 1rem;
    }
    img {
      border-bottom: 40px solid #035151;
    }
  }
}
