<div id="Spotlight-on" class="Spotlight-on">
    <div text>
        <p>Spotlight on</p>
        <h1>
            Global
            <br>
            intelligence
        </h1>
    </div>
    <mat-tab-group animationDuration="2000ms" mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="INSIGHTS">
            <div class="content">
                <div class="prev-slide">
                    <img [src]="slides[previousSlideIndex].src" alt="Previous Slide">
                </div>

                <div class="news">
                    <div class="slide-show">
                        <div class="slide" style="position: relative;">
                            <img [src]="slides[currentIndex].src" alt="Current Slide" class="current-slide">
                            <button class="prev" (click)="prevSlide()">&#10094;</button>
                            <button class="next" (click)="nextSlide()">&#10095;</button>
                        </div>
                        <h2>
                            {{ slides[currentIndex].title }}
                        </h2>
                    </div>
                    <div class="text">
                        <p>
                            {{ slides[currentIndex].category }}
                        </p>
                        <h1>
                            {{ slides[currentIndex].description }}
                        </h1>
                        <span>Aug 1, 2024</span>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="NEWS">
            <div class="content">
                <div class="prev-slide">
                    <img [src]="slides[previousSlideIndex].src" alt="Previous Slide">
                </div>

                <div class="news">
                    <div class="slide-show">
                        <div class="slide" style="position: relative;">
                            <img [src]="slides[currentIndex].src" alt="Current Slide" class="current-slide">
                            <button class="prev" (click)="prevSlide()">&#10094;</button>
                            <button class="next" (click)="nextSlide()">&#10095;</button>
                        </div>
                        <h2>
                            {{ slides[currentIndex].title }}
                        </h2>
                    </div>
                    <div class="text">
                        <p>
                            {{ slides[currentIndex].category }}
                        </p>
                        <h1>
                            {{ slides[currentIndex].description }}
                        </h1>
                        <span>Aug 1, 2024</span>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>