.logo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; 
  width: 7%; 
  object-fit: cover; 
  
  background-color: none;
  padding-top: 45rem;
}
h1{
    rotate: 270deg;
    font-weight: 500;
    white-space: nowrap;
    transition: font-size 0.5s ease-in-out; 
}
a{
    rotate: 210deg;
    text-decoration: none;
    color: #00342b;
}
