.explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  gap: 10rem;
  margin: auto;
  margin-top: 10rem;
  margin-left: 10rem;
  .text-explore {
    background-color: #00342b;
    color: #fff;
    padding: 4rem 4rem 7.5rem;
    width: 55vw;
    height: 100%;
    h3 {
      font-weight: 700;
      font-size: 14px;
    }
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
    }
    h1 {
      color: #fff;
      font-size: 50px;
      line-height: 55px;
      font-weight: 500;
    }
  }
  .scroll {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;

    .itens {
      color: #00342b;
      width: 40vw;
      padding: 1rem;
      h2 {
        font-size: 34px;
        font-weight: 500;
        color: #00342b;
      }
      h2:hover {
        font-style: italic;
        color: #00884d;
      }
      p {
        font-size: 18px;
        color: #00342b;
        font-weight: 500;
      }
      button {
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        i {
            margin-right: 1rem;
          font-size: 25px;
        }
      }
    }
  }
}
.animated-button {
  background-color: #00342b;
  color: #00884d;
  border: none;
  border-left: solid 5px #00884d;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-position 0.5s, color 0.5s;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #00342b 50%, #00884d 50%);
  height: 55px;
}
.animated-button:hover {
  background-position: -100% 0;
  color: #fff;
}
