.explore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  margin: auto;
  .text-explore {
    background-color: #035151;
    padding: 7rem 7rem 7.5rem;
    width: 30vw;
    h3 {
      font-weight: 700;
      font-size: 14px;
      color: #fe6e5b;
    }
    h1 {
      color: #fff;
      font-size: 48px;
      line-height: 55px;
      font-weight: 500;
    }
    p {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      width: 14vw;
      border-top: 3px solid #fe6e5b;
      padding-top: 2rem;
      margin: auto;
      margin-bottom: 4rem;
    }

    img {
      position: relative;
      left: 4rem;
    }
  }
  .scroll {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
    .itens {
      color: #00342b;
      width: 50vw;
      h2 {
        font-size: 34px;
        font-weight: 500;
        color: #00342b;
      }
      h2:hover {
        font-style: italic;
        color: #00884d;
      }
      p {
        font-size: 18px;
        color: #00342b;
        font-weight: 500;
      }
      button {
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        i {
          margin-right: 1rem;
          font-size: 25px;
        }
      }
    }
  }
}
