<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MeuSite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" (mouseenter)="showDetails('pessoal')">
        <a class="nav-link" routerLink="/pessoal">Pessoal</a>
      </li>
      <li class="nav-item" (mouseenter)="showDetails('escritorio')">
        <a class="nav-link" routerLink="/escritorio">Escritório</a>
      </li>
      <li class="nav-item" (mouseenter)="showDetails('sobre')">
        <a class="nav-link" routerLink="/sobre-nos">Sobre Nós</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Componente de detalhes abaixo do navbar -->
@if (hoveredItem) {
<div class="details-container" (mouseleave)="hideDetails()">
  @if (hoveredItem === 'pessoal') {
  <div>
    <p>Informações sobre a página Pessoal</p>
    <a routerLink="/pessoal">Acessar Página Pessoal</a>
  </div>
  } @if (hoveredItem === 'sobre') {
  <div>
    <p>Informações sobre a página Sobre Nós</p>
    <a routerLink="/sobre">Acessar Página Sobre Nós</a>
  </div>
  } @if (hoveredItem === 'escritorio') {
  <div>
    <p>Informações sobre a página Escritório</p>
    <a routerLink="/escritorio">Acessar Página Escritório</a>
  </div>
  }
</div>
}
