<div class="container arimo-regular">
  <h2>Política de Acessibilidade</h2>

  <p>
    Costa Rodrigues Advogados (“Costa Rodrigues”, “COSRO” ou “Escritório”),
    sociedade civil de advogados, submetida às regras próprias da advocacia, ao
    Código de Ética e Disciplina da Ordem dos Advogados do Brasil – OAB (Anexo
    único da Resolução nº 02/2015 do CFOAB), nos termos da Lei Federal nº
    8.906/94 e demais atos e resoluções do Conselho Federal, bem como das
    respectivas Seccionais da OAB e demais normas jurídicas pertinentes,
    institui esta Política de Acessibilidade, visando garantir que todos os
    usuários, incluindo pessoas com deficiências, possam acessar e usufruir de
    nosso site de forma plena e equitativa.
  </p>

  <p>
    O nosso compromisso com a acessibilidade se traduz na implementação de
    diversas funcionalidades que promovem uma navegação inclusiva e informativa.
    A seguir, detalhamos as principais características que adotamos:
  </p>

  <ul>
    <li>
       Atalhos de navegação:  Cada página do nosso site é dotada
      de um menu inicial claro e intuitivo, permitindo ao usuário acessar
      diretamente o conteúdo principal. Para aqueles que optam por navegar via
      teclado, implementamos links de acesso rápido que se tornam visíveis ao
      utilizar a tecla Tab. Disponibilizamos também links para a Página Inicial,
      uma caixa de busca, uma navegação uniforme e acessos diretos ao mapa do
      site em todas as seções.
    </li>

    <li>
       Marcação estruturada e semântica:  Aplicamos de maneira
      criteriosa tags HTML que respeitam as boas práticas de estruturação de
      conteúdo, utilizando H1 para títulos principais e H2 para subtítulos, o
      que favorece a organização e a clareza na leitura.
    </li>

    <li>
       Textos alternativos para imagens:  Garantimos que todas as
      imagens relevantes em nosso site estejam acompanhadas de descrições
      alternativas, proporcionando assim uma compreensão adequada do conteúdo
      visual para usuários com deficiência visual. Gráficos que servem apenas
      como elementos decorativos são dotados de descrições alternativas vazias,
      assegurando que a navegação se mantenha clara. Realizamos auditorias
      regulares para identificar e reformular imagens que não atendem a essa
      exigência.
    </li>

    <li>
       Ajuste de tamanho de fonte:  O texto em nosso site pode
      ser facilmente ajustado para atender às preferências do usuário por meio
      das configurações do navegador, funcionalidade compatível com a maioria
      dos navegadores por meio das combinações Ctrl + + ou Ctrl + -.
    </li>

    <li>
       Acessibilidade com Scripting:  Embora utilizemos
      JavaScript para potencializar a funcionalidade e a interatividade do site,
      garantimos que o conteúdo essencial permaneça acessível mesmo na ausência
      de scripts.
    </li>

    <li>
       Compatibilidade com diferentes dispositivos:  Nosso site
      foi desenvolvido com um design responsivo, assegurando uma experiência de
      navegação otimizada em uma ampla variedade de dispositivos e resoluções de
      tela, desde desktops a dispositivos móveis.
    </li>
  </ul>

  <p>
    Comprometemo-nos a monitorar continuamente a acessibilidade de nosso site,
    realizando avaliações regulares para identificar problemas e explorar novas
    oportunidades de aperfeiçoamento.
  </p>
</div>
