.container{
border-bottom: solid 2px #035151;
margin-bottom: 2rem;
}
h2{
    text-align: center;
}
p{
    color: #505050;
    font-size: 22px;
    line-height: 30px;
    padding: 2rem 0;
}
li{
    color: #505050;
    font-size: 22px;
    line-height: 30px;
    padding: 0.5rem ;
}