<div class="container arimo-regular">
  <h1>CÓDIGO DE ÉTICA E CONDUTA</h1>

  <p>
    Costa Rodrigues Advogados (“Costa Rodrigues”, “COSRO” ou “Escritório”),
    sociedade civil de advogados, submetida às regras próprias da advocacia, ao
    Código de Ética e Disciplina da Ordem dos Advogados do Brasil (“OAB" - Anexo
    único da Resolução nº 02/2015 do CFOAB), nos termos da Lei Federal nº
    8.906/94 e demais atos e resoluções do Conselho Federal bem como das
    respectivas Seccionais da OAB, por meio deste Código de Ética e Conduta
    (“Código”), referenda o comprometimento do Escritório e de suas lideranças
    com o desenvolvimento de suas atividades com ética e absoluto respeito às
    leis e regulamentações aplicáveis.
  </p>

  <p>
    As diretrizes deste Código deverão ser observadas indistintamente por todos
    os sócios, advogados, empregados, trainees, paralegais, estagiários,
    prestadores de serviço, parceiros, correspondentes e/ou quaisquer outras
    pessoas e entidades que atuem em nome ou em parceria com o Escritório, que
    se obrigam a conhecer e observar integralmente todos os seus termos,
    buscando a preservação da reputação do Escritório junto a seus clientes, ao
    poder judiciário e ao mercado em geral.
  </p>

  <h2>I - APLICAÇÃO DESTE CÓDIGO</h2>

  <ol>
    <li>
      O presente Código objetiva promover uma cultura organizacional que
      incentive a conduta ética e proba, bem como a observância à legislação
      anticorrupção brasileira, pelos colaboradores, a seguir definidos.
    </li>
    <li>
      A observância deste Código é obrigatória a todos os sócios, advogados,
      empregados, trainees, paralegais, estagiários, prestadores de serviço,
      parceiros, correspondentes e/ou quaisquer outras pessoas e entidades que
      atuem em nome do Escritório (“Colaboradores”) e é fundamental para
      promoção e manutenção de um ambiente de trabalho condizente com as
      melhores práticas do mercado jurídico.
    </li>
    <li>
      Os Colaboradores devem ler, conhecer e observar as disposições contidas
      neste Código e nas demais políticas do Escritório, independentemente de
      sua posição e do local onde atuem.
    </li>
    <li>
      O objetivo deste Código é reunir as diretrizes que deverão nortear o
      comportamento e tomada de decisão pelos Colaboradores e Parceiros do
      Escritório, para que possam ser cumpridos os valores éticos, culturais e
      profissionais do Escritório, mantendo uma relação transparente, ética,
      proba e íntegra entre si, com os clientes, terceiros, Administração
      Pública e demais parceiros.
    </li>
    <li>
      No desempenho de suas atividades, os Colaboradores do Escritório devem se
      pautar pelos padrões da ética, sobretudo no que diz respeito à
      integridade, à moralidade, à honestidade, à disciplina, à clareza de
      posições e ao decoro, com vistas a motivar o respeito e a confiança da
      equipe, dos clientes e da sociedade em geral.
    </li>
  </ol>

  <h2>II - OBSERVÂNCIA À LEGISLAÇÃO ANTICORRUPÇÃO</h2>

  <ol>
    <li>
      Os Colaboradores do Escritório têm a obrigação de zelar, na sua atuação
      profissional, pelo cumprimento integral e pela não violação das normas
      relativas à Legislação Anticorrupção, em especial o Código Penal
      Brasileiro, a Lei Federal nº 12.846/2013 (Lei Anticorrupção) e seu Decreto
      regulamentador (Decreto Federal nº 8.420/2015), em estrita observância da
      Política Anticorrupção do Escritório.
    </li>
  </ol>
  <h2>III - CONFLITO DE INTERESSES E RELACIONAMENTOS</h2>

  <ol>
    <li>
      O conflito de interesses na relação entre o Colaborador e o Escritório
      ocorre quando aquele usar sua influência ou cometer atos no intuito de
      beneficiar interesses próprios ou de terceiros e que se contraponham aos
      interesses do Escritório ou que possam lhe causar danos ou prejuízos.
    </li>

    <li>
      O conflito de interesses também poderá decorrer de obrigações contratuais
      assumidas pelo Escritório junto a seus clientes. Nesse sentido, é
      necessário evitar que os interesses do Escritório conflitem com os de seus
      clientes.
    </li>

    <li>
      São tipos de conflitos de interesses:
      <ul>
        <li>
          (i) Na relação entre Colaboradores/Terceiros e o Escritório: o
          conflito de interesses na relação Colaboradores/Terceiros e o
          Escritório ocorrerá quando aqueles usarem sua influência ou atuarem
          com o intuito de beneficiar interesses particulares que se
          contraponham aos interesses do Escritório ou possam lhe causar danos
          ou prejuízos. Situações exemplificativas que podem configurar
          potencial conflito de interesses neste caso:
          <ul>
            <li>
              (a) utilizar informações privilegiadas ou confidenciais do
              Escritório e/ou de seus clientes para obter algum benefício
              pessoal ou de um terceiro;
            </li>
            <li>
              (b) estar envolvido ou influenciar na contratação de parente ou
              amigo próximo para trabalhar no Escritório; ou
            </li>
            <li>
              (c) utilizar o horário de trabalho ou bens do Escritório para
              atividades particulares.
            </li>
          </ul>
        </li>
        <li>
          (ii) No patrocínio de clientes ou potenciais clientes: o conflito de
          interesses não se limita às regras éticas da profissão, conforme
          consta do Código de Ética e Disciplina da OAB e demais atos e decisões
          do Conselho Federal, podendo também decorrer de obrigações contratuais
          assumidas pelo Escritório junto a seus clientes. Portanto, o conflito
          de interesses pode se dar entre clientes ou potenciais clientes do
          Escritório, devendo o Escritório analisar o caso em concreto e
          solucionar eventuais situações que possam configurar a defesa de
          interesses opostos ou conflitantes.
        </li>
      </ul>
    </li>

    <li>
      Não é possível a previsão de todos os potenciais conflitos de interesses
      que possam surgir das relações que envolvam o Escritório. Assim, competirá
      ao Comitê Gestor do Escritório a decisão final sobre os casos que envolvam
      conflitos de interesses, potenciais ou reais.
    </li>

    <li>
      Os casos de relacionamento afetivo, amoroso ou familiar entre
      Colaboradores devem ser comunicados aos líderes de equipe e/ou sócios do
      Escritório. Sugere-se que Colaboradores nessas situações não atuem na
      mesma equipe ou estejam em linha direta de subordinação.
    </li>

    <li>
      Todo o conflito de interesse ou potencial conflito de interesse deverá ser
      informado aos sócios administradores do Escritório, desde sua contratação
      ou a qualquer tempo caso tenham se configurado posteriormente.
    </li>
  </ol>
  <h2>IV - SIGILO PROFISSIONAL E PROPRIEDADE INTELECTUAL</h2>

  <ol>
    <li>
      Os Colaboradores não poderão revelar ou utilizar quaisquer informações
      sigilosas de forma distinta daquela contratada por clientes ou parceiros
      do Escritório, notadamente visando algum ganho ou benefício. A divulgação
      de informações sigilosas poderá acarretar responsabilização civil e
      criminal, sem prejuízo das sanções disciplinares perante a OAB, no caso
      dos advogados e estagiários.
    </li>

    <li>
      Cabe aos Colaboradores zelar pelo sigilo profissional e manter com os
      clientes relação de discrição e confiança, preservar e manter em sigilo as
      informações e revelações dos clientes, de parceiros e do próprio
      Escritório, bem como não dar publicidade a questões e assuntos do
      interesse dos clientes e/ou do próprio Escritório, a não ser quando
      expressamente autorizado.
    </li>

    <li>
      Pertencem exclusivamente ao Escritório todos os direitos relativos à
      produção intelectual decorrente de trabalhos ou peças jurídicas produzidas
      em decorrência das atividades desenvolvidas no ou para o Escritório e seus
      clientes.
    </li>

    <li>
      Os Colaboradores que se desvincularem do Escritório devem se abster de
      copiar, gravar, fotografar ou reproduzir sob qualquer forma quaisquer
      arquivos e/ou documentos, eletrônicos ou não, sem prévia autorização dos
      sócios de área do Escritório.
    </li>

    <li>
      As informações obtidas no Escritório devem servir apenas para o trabalho
      no COSRO, sendo proibida sua utilização para qualquer outro fim.
    </li>
  </ol>

  <h2>V - USO DOS MEIOS ELETRÔNICOS DE INFORMAÇÃO</h2>

  <ol>
    <li>
      É vedado o envio e a utilização, de qualquer forma, de material obsceno,
      pornográfico, violento, discriminatório, racista, misógino, difamatório,
      que desrespeite a dignidade da pessoa natural e contrário às leis vigentes
      e aos interesses do Escritório.
    </li>

    <li>
      Os Colaboradores, incluindo parceiros comerciais que utilizem ferramentas
      concedidas pelo Escritório, de forma geral, não devem ter expectativa de
      privacidade quando utilizarem os sistemas e recursos do Escritório.
    </li>

    <li>
      Conforme legislação aplicável, o Escritório poderá revisar, monitorar e
      gravar as informações trocadas a qualquer momento e sem aviso prévio ou
      permissão de qualquer Colaborador. Essa regra abrange a informação
      transmitida por telefone, por e-mail, aplicativos e qualquer outro meio de
      comunicação ou armazenamento em sistema ou recurso do Escritório.
    </li>
  </ol>
  <h2>VI - PRIVACIDADE DAS INFORMAÇÕES</h2>
  <ol>
    <li>
      O Escritório respeita o direito à privacidade das pessoas com as quais
      mantém relação. Toda e qualquer informação fornecida por terceiros é
      utilizada pelo Escritório para propósitos legítimos, respeitando a
      finalidade para a qual foram coletadas, em conformidade com as legislações
      e princípios aplicáveis, em especial a Lei Geral de Proteção de Dados
      Pessoais brasileira (Lei Federal nº 13.709/2018), conforme previsto na
      Política de Privacidade do Escritório.
    </li>
  </ol>

  <h2>VII - IMAGEM E REPUTAÇÃO</h2>
  <ol>
    <li>
      Qualquer Colaborador ou parceiro que estiver na condição de representante
      do Escritório, em situação profissional ou social, deverá portar-se em
      consonância com os mais elevados padrões éticos, não adotando posturas ou
      atitudes que possam comprometer a imagem, a reputação ou os interesses do
      Escritório.
    </li>
  </ol>

  <h2>VIII - ASSÉDIO MORAL E SEXUAL</h2>
  <ol>
    <li>
      Caracteriza-se como assédio moral o fato de alguém, em posição
      privilegiada ou de hierarquia, usar essa vantagem para humilhar,
      constranger ou intimidar sistematicamente um colega de trabalho.
    </li>

    <li>
      Caracteriza-se como assédio sexual o fato de alguém, prevalecendo-se de
      sua posição privilegiada de superior hierárquico ou da ascendência de seu
      cargo ou função, constranger alguém com o intuito de obter vantagem ou
      favorecimento sexual.
    </li>

    <li>
      O Escritório está comprometido em promover um ambiente livre de qualquer
      tipo de assédio. Nos processos de recrutamento, seleção e promoção, os
      candidatos devem ser avaliados única e exclusivamente por suas condições
      de se adequar às expectativas do cargo e à ética do Escritório.
    </li>
  </ol>

  <h2>IX - DENÚNCIAS E MEDIDAS DISCIPLINARES</h2>
  <ol>
    <li>
      Os colaboradores deverão comunicar imediata e formalmente ao seu superior
      hierárquico ou aos canais de denúncia disponíveis qualquer violação ou
      suspeita de violação deste Código ou de conduta ilegal por qualquer um dos
      Colaboradores ou dos parceiros comerciais do Escritório (que inclui
      clientes, fornecedores e demais parceiros de negócio).
    </li>

    <li>
      Clientes e parceiros do Escritório também poderão utilizar-se do canal de
      denúncias caso detenham informações sobre condutas impróprias ou
      indevidas.
    </li>

    <li>
      O Escritório proíbe e repudia qualquer ato de retaliação contra qualquer
      pessoa que, de boa-fé, reportar uma conduta ilegal ou contrária às
      diretrizes estabelecidas neste Código.
    </li>

    <li>
      Este Código pretende estabelecer as linhas gerais das condutas a serem
      observadas pelos Colaboradores do Escritório, sendo responsabilidade de
      cada um atuar em conformidade com os seus preceitos, sob pena de ser
      aplicada medida disciplinar proporcional e adequada em caso de violação.
    </li>
  </ol>

  <h2>X - DISPOSIÇÕES FINAIS</h2>
  <ol>
    <li>
      Este Código poderá ser alterado, no todo ou em parte, pelo Escritório.
    </li>

    <li>Este Código vigorará por prazo indeterminado.</li>
  </ol>
</div>
