.container{
    border-bottom: solid 2px #035151;
    margin-bottom: 2rem;
    }
    h1{
        text-align: center;
    }
    h2{
        color: #505050;
        font-weight: bold;
    }
    p{
        color: #505050;
        font-size: 22px;
        line-height: 30px;
        padding: 2rem 0;
        font-weight: 500;
    }
    li{
        color: #505050;
        font-size: 22px;
        line-height: 30px;
        padding: 1rem ;
        font-weight: 500;
    }