
.introduction {
padding: 5rem 0;
  img {
    height: 940px;
  }
  .text-introduction {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 96px;
      line-height: 85px;
      color: #035151;
    }
    .item {
      border: none;
      border-top: solid 3px #fe6e5b;
      margin-top: 1rem;
      margin-left: 5rem;
      padding-top: 2rem;
      line-height: 1.5rem;
      width: 15vw;
      P {
        font-weight: 400;
        font-size: 22px;
        color: #505050;
      }
    }
  }
}

.dei{
  background: linear-gradient(to right, #035151 50%, #FFF 50%);
  .text-introduction{
    padding: 5rem 0;
    padding-right: 5rem;
    h5{
      color: #fe6e5b;
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
    }
    h4{
      font-size: 48px;
      color: #fff;
      line-height: 40px;
      margin-top: 2rem;
    }
    p{
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 5rem;
      border-top: 3px solid #fe6e5b;
      padding-top: 1rem;
    }

    .image{
      position: absolute;
      left: 15px;
      z-index: 0;
      max-width: 50%;
    }
  }

  .items{
    background-color: #fff  ;
    h3{
      color: #035151;
      font-size: 48px;
      line-height: 55px;
    }
    p{
      font-size: 22px;
      color: #000;
      line-height: 35px;
    }
    span{
      cursor: pointer;
      color: #035151;
      font-weight: 600;
      font-size: 20px;
    }
    ul{
      list-style-type: none;
      padding: 5rem 4rem;
      li{
        padding: 2rem 0;
      }
    }
  }
}
.animated-button {
  background-color: #fff;
  color: #00884d;
  border: none;
  border-left: solid 5px #00884d;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-position 0.5s, color 0.5s;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #ffff 50%, #00884d 50%);
  height: 55px;
}
.animated-button:hover {
  background-position: -100% 0;
  color: #fff;
}
