<div id="introduction" class="introduction">
    <img src="../../../assets/gettyimages-bd6229-001_bw-crop(1).webp" alt="">
    <div id="text-introduction" class="text-introduction">
        <p>INTRODUCING A&O SHERMAN</p>
        <h1>Global excellence, delivered seamlessly.</h1>
        <div class="item">
            <p>
                With a rich history of leadership and unparalleled
                reach and expertise,
                we support the world’s most ambitious
                organizations - wherever they do business.
            </p>
            <button class="animated-button">READ MORE <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
    <div class="overlay-animated"></div>
</div>
<div class="scroll-bar-rigth">
    <div class="scroll-animated"></div>
    <div class="scroll-down">
        <i class="bi bi-arrow-down"></i>
    </div>
</div>

<app-news-insights></app-news-insights>
<div id="explore" class="explore">
    <div class="text-explore">
        <h3>EXPERTISE</h3>
        <h1>Explore our capabilities</h1>
        <p>
            Our teams are known for the quality of their
            legal thinking – and for creating cutting-edge products,
            services and technologies.
        </p>
        <button class="animated-button-2">ALL EXPERTISE <i class="bi bi-arrow-right"></i></button>
    </div>

    <div class="scroll">
        <div class="itens">
            <h2>Corporate and M&A</h2>
            <p>
                We provide market-leading companies, investment funds and financial institutions with top-tier
                corporate
                and
                M&A advice in every jurisidiction.
            </p>
        </div>
        <div class="itens">
            <h2>Disputes</h2>
            <p>
                Our lawyers have vast experience litigating, arbitrating, investigating and resolving disputes
                across
                the
                world. We are ready to help, whatever the crisis.
            </p>
        </div>
        <div class="itens">
            <h2>Finance</h2>
            <p>
                Our finance team is renowned as one of the strongest and deepest around, with more than 1,000
                attorneys
                located in all the major financial centers.
            </p>
        </div>
        <div class="itens">
            <h2>Capital markets</h2>
            <p>
                We set precedents in the capital markets advising on all debt and equity products, from
                investment-grade
                and
                high-yield debt offerings to IPOs.
            </p>
        </div>
        <div class="itens">
            <h2>Advisory and regulatory</h2>
            <p>
                Our public company, corporate governance, employment, and regulatory attorneys act as trusted
                advisors
                to
                our clients on their most sensitive issues.
            </p>
        </div>
        <div class="itens">
            <h2>Innovation</h2>
            <p>
                We are a pioneer in our industry, committed to continual advancement and finding innovative ways to
                exceed
                our clients' expectations.
            </p>
        </div>
    </div>
</div>
<app-find-an-advision></app-find-an-advision>
<div class="carousel">
    <div id="slides" class="slides">
        @for (item of image; track $index) {
        <img [src]=item.src alt="" [style.height]="item.height">
        }
    </div>
    <div id="slides" class="slides">
        @for (item of image; track $index) {
        <img [src]=item.src alt="" [style.height]="item.height">
        }
    </div>
</div>

<div id="global-coverage" class="global-coverage">
    <div class="text-area">
        <p>GLOBAL COVERAGE</p>
        <H1>Where you are, we are</H1>
    </div>
    <div class="list">
        <ul>
            <li><a href="#">Global coverage</a></li>
            <li><a href="#">North America</a></li>
            <li><a href="#">Europe</a></li>
            <li><a href="#">Asia Pacific</a></li>
            <li><a href="#">Middle East</a></li>
            <li><a href="#">Africa</a></li>
            <li><a href="#">Latin America and the Caribbean</a></li>
            <li><a href="#">Global Experts and Markets</a></li>
        </ul>
    </div>
</div>

<div id="join-us" class="join-us">
    <div class="text-area">
        <h5>Join us</h5>
        <h1>No ordinary career</h1>
        <p>All the opportunities you would expect from a
            world-leading law firm. And some you might not.
        </p>
        <button class="animated-button">EXPLORER<i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="image">
        <img src="assets/image-14.webp" alt="">
    </div>

</div>