<div>
  <img src="./../../../assets/planta.png" alt="" width="100%" style="position: static;"/>
</div>
<div id="introduction" class="introduction container">
  <div class="row justify-content-sm-center align-items-end">
    <div class="col-sm-8">
      <img src="../../../assets/Home_Site.png" alt="" />
    </div>

    <div id="text-introduction" class="text-introduction col-sm-4">
      <h1 class="arapey-regular">Colaboração, Equidade, Impacto</h1>
      <div class="item">
        <p class="arimo-regular">
          Representamos uma visão institucional que simboliza a força e a
          colaboração entre todos os membros da nossa equipe
        </p>
      </div>
    </div>
  </div>
</div>

<app-news-insights></app-news-insights>

<div class="dei">
  <div class="container">
    <div class="row justify-content-around">
      <div class="text-introduction col-4">
        <h5 class="arimo-regular">
          DIVERSIDADE, EQUIDADE E INCLUSÃO PARA ALÉM DA RETÓRICA
        </h5>
        <h4 class="arapey-regular">
          DEI são valores fundamentais para nosso escritório e nossos
          profissionais
        </h4>
        <p class="arimo-regular">
          Temos uma equipe diversa, onde DEI transcende a raça, gênero, idade,
          etnia, orientação sexual, religião e afiliação política. Valorizamos e
          encorajamos a diversidade em estilos de trabalho, trajetórias de
          carreira e experiências profissionais e de vida. Temos, na origem, um
          comitê de DEI que efetivamente implementa estratégias em recrutamento,
          retenção e promoção de profissionais diversos
        </p>
        <img src="./assets/Foto_005.png" alt="" class="image" />
      </div>

      <div class="items col-6">
        <ul>
          <li>
            <h3 class="arapey-regular">Somos Legal AI-powered</h3>
            <p class="arimo-regular">
              Aliamos nossa experiência à inovação. Utilizamos tecnologia
              avançada em todos os nossos processos, abraçando um presente cada
              vez mais eficiente rumo a um futuro que já exige rápida capacidade
              de adaptação
            </p>
            <span>
              <i class="bi bi-chevron-down"></i>
              MAIS...
            </span>
          </li>

          <li>
            <h3 class="arapey-regular">
              Compromisso com a Responsabilidade Social E Pro Bono
            </h3>
            <p class="arimo-regular">
              Estamos dedicados a fazer a diferença nas comunidades onde vivemos
              e trabalhamos
            </p>
            <span>
              <i class="bi bi-chevron-down"></i>
              MAIS...
            </span>
          </li>

          <li>
            <h3 class="arapey-regular">
              Empoderamento e Desenvolvimento Profissional
            </h3>
            <p class="arimo-regular">
              Nosso compromisso com o desenvolvimento profissional dos
              colaboradores que compõem o COSRO é inegociável. Acreditamos na
              construção de relacionamentos de longo prazo baseados na ética,
              eficiência, colaboração e excelências
            </p>
            <span>
              <i class="bi bi-chevron-down"></i>
              MAIS...
            </span>
          </li>

          <li>
            <h3 class="arapey-regular">Sustentabilidade na Prática</h3>
            <p class="arimo-regular">
              Em sintonia com nosso compromisso com a sustentabilidade,
              expressado por nossa adesão ao Pacto Global, nos empenhamos em
              reduzir nossa pegada de carbono e em promover um ambiente de
              trabalho que seja ao mesmo tempo sustentável, saudável e inovador
            </p>
            <span>
              <i class="bi bi-chevron-down"></i>
              MAIS...
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-find-an-advision></app-find-an-advision>
