<div id="top-image" class="top-image">
    <img src="./../../../assets/planta.png" alt="">
</div>

<div id="introduction" class="introduction">
    <img src="../../../assets/Home_Site.png" alt="">
    <div id="text-introduction" class="text-introduction">
        <h6>INTRODUCING A&O SHERMAN</h6>
        <h1>Global excellence, delivered seamlessly.</h1>
        <div class="item">
            <p>
                With a rich history of leadership and unparalleled
                reach and expertise,
                we support the world’s most ambitious
                organizations - wherever they do business.
            </p>
        </div>
        <button class="animated-button">Saiba mais <i class="bi bi-arrow-right"></i></button>
    </div>
</div>

<app-news-insights></app-news-insights>
<app-explore-our-capabilites></app-explore-our-capabilites>
<app-find-an-advision></app-find-an-advision>

<div id="join-us" class="join-us">
    <div class="text-area">
        <h5>Diversidade, equidade e inclusão</h5>
        <h1>Dummy text of the printing and typesetting industry</h1>
        <p>
            It has survived not only five centuries,
            but also the leap into electronic typesetting,
            remaining essentially unchanged.
        </p>
        <button class="button" (click)="naviagete('careers')">SAIBA MAIS <i class="bi bi-arrow-right"></i></button>
    </div>

    <div class="image">
        <img src="assets/working.png" alt="">
        <div class="tag">
            <p>
                Not only five centuries,
                but also the leap into electronic
                typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>
    <div class="back"></div>

</div>