.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
  .introduction {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    h1 {
      color: #00342b;
      font-size: 80px;
      line-height: 83px;
      font-weight: 500;
    }
    p {
      font-size: 28px;
      font-weight: 500;
      line-height: 39px;
      color: #00342b;
      border-top: #00884d solid 3px;
      width: 35%;
    }
  }
  .image {
    align-self: flex-end;

    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
  .text-area {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    h1 {
      font-size: 58px;
      color: #00342b;
      line-height: 63px;
      width: 40%;
      font-weight: 500;
    }
    p {
      align-self: center;
      font-size: 18px;
      color: #00342b;
      line-height: 25px;
      width: 40%;
      font-weight: 500;
    }
  }

  .expertise-page {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 10rem;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 5rem;
    border-bottom: #00342b6b solid 3px;
    .item {
      border-top: #00342b6b solid 3px;
      width: 15vw;
      margin-bottom: 8rem;
      align-self: start;
      p {
        font-size: 27px;
        padding: 1rem;
        color: #00342b;
        font-weight: 500;
      }

      p:hover {
        font-style: italic;
        color: #00884d;
      }
    }
  }
}
.meet-our-leads {
  display: grid;
  grid-template-columns: 20vw 15vw 15vw;
  gap: 10rem;
  width: 100%;
  margin-left: 10rem;
  .people-text {
    h1 {
      font-size: 58px;
      color: #00342b;
      line-height: 63px;
      font-weight: 500;
    }
    p {
      align-self: center;
      font-size: 18px;
      color: #00342b;
      line-height: 25px;
      font-weight: 500;
    }
  }
  .people {
    display: flex;
    flex-direction: column;
    img {
      height: 350px;
      width: 300px;
      object-fit: cover;
    }
    p{
      color: #00342b;
      font-size: 22px;
      font-weight: 500;
    }
    b{
      color: #00884d;
    }
  }
}
