<div id="content" class="content">
    <div id="introduction" class="introduction">
        <h1>Our<br> industries</h1>
        <p>
            Our advice is informed by decades of experience
            working alongside the leading industry players in energy,
            life sciences, technology, financial services,
            private capital and more.
        </p>
    </div>
    <div class="image">
        <img src="assets/image-17.webp" alt="">
    </div>
    <div id="text-area" class="text-area">
        <h1>Cutting-edge expertise. Globally.</h1>
        <p>
            We understand the commercial, legal,
            regulatory, and economic forces shaping
            every industry. Read about our team below.
        </p>
    </div>
    <div id="expertise-page" class="expertise-page">
        @for (item of items; track $index) {
        <div class="item">
            <p>
                {{item}}
            </p>
        </div>
        }
    </div>


    <div id="meet-our-leads" class="meet-our-leads">
        <div class="people-text">

            <h1>Meet our leads</h1>
            <p>
                View the expertise of our partner
                leads or use the filters below to navigate
                our global people search.
            </p>
        </div>

        <div class="people">
            <img src="assets/people-1.webp" alt="">
            <p>William Schwitter</p>
            <b>PARTNER</b>
            <span>New York</span>
        </div>

        <div class="people">
            <img src="assets/people-1.webp" alt="">
            <p>William Schwitter</p>
            <b>PARTNER</b>
            <span>New York</span>
        </div>

    </div>
</div>
<app-find-an-advision></app-find-an-advision>