<div class="container arimo-regular">
  <h1>POLÍTICA DE PRIVACIDADE</h1>

  <p>
    Costa Rodrigues Advogados (“Costa Rodrigues”, “COSRO” ou “Escritório”),
    sociedade civil de advogados submetida às regras próprias da advocacia, ao
    Código de Ética e Disciplina da Ordem dos Advogados do Brasil (“OAB” - Anexo
    único da Resolução nº 02/2015 do CFOAB), nos termos da Lei Federal nº
    8.906/94 e demais atos e resoluções do Conselho Federal bem como das
    respectivas Seccionais da OAB, por meio da presente Política de Privacidade,
    estabelece o compromisso de respeitar e proteger a privacidade dos usuários
    de seu site, clientes pessoas físicas e representantes, parceiros de
    negócio, sócios ou quaisquer outros indivíduos relacionados aos clientes
    pessoas jurídicas (“Titular dos Dados” ou “Titular”), em observância às leis
    aplicáveis, especialmente a Lei Federal nº 13.709/2018 (“Lei Geral de
    Proteção de Dados Pessoais” ou “LGPD”).
  </p>

  <p>
    Como medida de transparência, esta Política de Privacidade tem por objetivo
    estabelecer as diretrizes técnicas e administrativas que orientarão qualquer
    tipo de tratamento de Dados Pessoais pelo Escritório em conformidade com a
    LGPD.
  </p>

  <p>
    As diretrizes desta Política de Privacidade deverão ser observadas
    indistintamente por todos os sócios, advogados, empregados, trainees,
    paralegais, estagiários, prestadores de serviço, parceiros, correspondentes
    e/ou quaisquer outras pessoas e entidades que atuem em nome ou em parceria
    com o Escritório (“colaboradores”), que se obrigam a conhecer e observar
    integralmente todos os seus termos, buscando a preservação da reputação do
    Escritório junto a seus clientes, ao poder judiciário e ao mercado em geral.
  </p>

  <h2>I - FONTES DOS DADOS PESSOAIS</h2>

  <ol>
    <li>
      Os dados que coletamos são geralmente fornecidos diretamente pelo Titular.
      Porém, a depender do Titular e dos seus Dados Pessoais, também poderão ser
      coletadas informações de outras formas, tais como com sócios, gestores,
      outros departamentos e, ocasionalmente, outros integrantes do Escritório
      (conforme aplicável). Em determinados casos, algumas informações poderão
      ser fornecidas pela empresa em que o Titular possui relação profissional
      ou que estamos contratando, ou mesmo através de terceiros (como, por
      exemplo, empregadores anteriores, autoridades regulatórias, prestadores de
      serviço ou outros fornecedores). Os dados do Titular também serão
      coletados por meio do seu acesso e uso de certas áreas de trabalho,
      plataformas e sistemas, além de fontes acessíveis publicamente.
    </li>
  </ol>
  <h2>II - DADOS PESSOAIS TRATADOS</h2>

  <ol start="2">
    <li>
      Os Dados Pessoais tratados a partir das fontes indicadas acima podem ser:
      <ul>
        <li>
          <strong>(I) DADOS PESSOAIS RELACIONADOS A CLIENTES:</strong>
          <ul>
            <li>
              <strong
                >Informações de identificação, qualificação e contato:</strong
              >
              Nome completo, e-mail, telefone, endereço, nacionalidade,
              naturalidade, estado civil, profissão, dados de documentos de
              identificação (RG, CPF, OAB, CNH ou documento similar), gênero,
              idioma, assinatura, imagens de câmeras de segurança, dentre outras
              informações, conforme aplicável;
            </li>
            <li>
              <strong>Informações profissionais:</strong> nome da empresa em que
              trabalha, cargo, endereço e telefone comercial;
            </li>
            <li>
              <strong>Informações financeiras:</strong> Dados bancários e
              remunerações, conforme aplicável;
            </li>
            <li>
              <strong
                >Informações relativas à prestação de serviços
                jurídicos:</strong
              >
              Além dos dados citados acima, para que possamos prestar serviços
              jurídicos aos nossos clientes em variadas áreas, determinados
              Dados Pessoais serão tratados, a depender das instruções
              fornecidas pelos clientes, dos titulares de dados envolvidos (como
              a outra parte em processos) e dos serviços a serem prestados. Por
              exemplo: dados de documentos (passaporte, título de eleitor,
              PIS/PASEP, CTPS, NIS, NIT), informações sobre relacionamentos
              pessoais e/ou profissionais, bem como outras informações
              relevantes para a prestação de nossos serviços;
            </li>
            <li>
              <strong>Dados Pessoais sensíveis:</strong> Eventualmente, dados
              sensíveis também poderão ser processados para a prestação de
              serviços jurídicos, tais como filiação a sindicato, origem racial
              ou étnica, deficiência física, atestado ou laudo médico e atestado
              de saúde ocupacional (ASO).
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
  <li>
    <strong
      >(II) DADOS PESSOAIS RELACIONADOS A SÓCIOS, ASSOCIADOS, ESTAGIÁRIOS E
      OUTROS INTEGRANTES:</strong
    >
    <ul>
      <li>
        <strong>Informações pessoais:</strong> O Escritório poderá coletar
        informações e documentos variados sobre o Titular e seus dependentes,
        conforme aplicável, tais como nome completo, nacionalidade,
        naturalidade, estado civil, data de nascimento, e-mail, endereço,
        filiação, telefone ou outras informações de contato; cópia da carteira
        de trabalho e previdência social (CTPS), RG e CPF, CNH, certificado de
        reservista, título de eleitor, cartão do PIS/PASEP ou documentos
        relacionados, Cadastro Nacional de Informações Sociais (CNIS), cópia do
        cartão bilhete único, comprovante de residência, certidão de nascimento,
        certidões de casamento ou união estável realizada em cartório (conforme
        aplicável); nome, data de nascimento, parentesco, certidão de nascimento
        e CPF dos dependentes, comprovante de escolaridade dos filhos atualizado
        (obrigatório para filhos menores de 7 anos, em caso de salário família
        ou outro benefício concedido pelo Escritório), bem como quaisquer outros
        Dados Pessoais que o Titular decida revelar ao Escritório, ao longo do
        seu relacionamento, seja verbalmente ou por escrito (por exemplo, em
        e-mails de trabalho);
      </li>
      <li>
        <strong>Outras informações de identificação:</strong> Placa e modelo de
        veículo, conforme aplicável;
      </li>
      <li>
        <strong
          >Informações de identificação e verificação para estrangeiros:</strong
        >
        Informações sobre o ano de chegada, dados e documentos como passaporte,
        Registro Nacional de Estrangeiro (RNE), tipo de visto e emissão.
      </li>
      <li>
        <strong>Informações para contato de emergência:</strong> Detalhes dos
        seus contatos de emergência, como nome, telefone, e-mail e grau de
        parentesco, mediante a sua indicação;
      </li>
      <li>
        <strong>Remuneração e Dados Relacionados:</strong> Informações de
        pagamento, remuneração, bolsa ou salário, com detalhes do seu pacote de
        remuneração/contratação e eventuais benefícios (se aplicável), dados de
        conta bancária, informações fiscais e informações de terceiros
        beneficiários e valores referentes a bonificações, conforme aplicável;
      </li>
      <li>
        <strong>Informações sobre Histórico Acadêmico e Profissional:</strong>
        Nome completo, idade, nacionalidade, profissão, formação, experiência
        profissional, cursos e treinamentos realizados, bem como outras
        informações que possam ser incluídas no seu currículo ou questionadas
        durante as entrevistas, além de documentos relacionados às informações
        fornecidas, como diploma e/ou certidão de escolaridade ou declaração da
        faculdade;
      </li>
      <li>
        <strong>Informações Relacionadas ao Trabalho:</strong> Detalhes do
        contato comercial (endereço de e-mail corporativo, telefone e endereço),
        duração e tipo de contrato (conforme aplicável), data de admissão,
        fotografia, detalhes sobre a sua função e cargo, área de alocação no
        Escritório, possíveis locais de home office, jornada mensal,
        transferências, turno, horário de trabalho, horas trabalhadas, e seus
        termos e condições de trabalho; cópia da carteira de identidade
        profissional ou de inscrição em conselhos (como OAB, se aplicável);
        folha de ponto, período aquisitivo e concessivo de férias, registros
        para descontos em folha de pegamento; dados relacionados a material,
        ferramentas e móveis concedidos por nós (e.g., notebook, celular,
        cadeira), direitos de acesso aos sistemas e ferramentas de TI; tamanho
        de camisa e/ou uniforme (se aplicável);
      </li>
      <li>
        <strong>Informações relacionadas a benefícios (se aplicável):</strong>
        Quais benefícios são utilizados pelo Titular (e.g., vale transporte,
        vale refeição, seguro de vida, assistência médica), sem prejuízo de
        outros que venham a ser implementados ou alterados, forma de
        deslocamento, plano escolhido, valor do benefício e dependentes
        indicados pelo Titular;
      </li>
      <li>
        <strong>Informações para treinamento e desenvolvimento:</strong> Cargo,
        área/departamento, dados relativos à necessidade de treinamento e
        desenvolvimentos, capacitações e treinamentos realizados, custos dos
        treinamentos (se aplicável), avaliações e assinatura indicando presença
        (se aplicável);
      </li>
      <li>
        <strong>Informações de acesso a sistemas e navegação:</strong> Senhas,
        logins, endereço eletrônico, dados de navegação online, Internet
        Protocol (IP); identificadores de dispositivos, atividades de rede,
        registros de TI, sites visitados e conteúdo de e-mail, dentre outros;
      </li>
      <li>
        <strong>Agendamento e reembolso de viagens e outras despesas:</strong>
        Nome completo, CPF, RG, e-mail, local e período da viagem, nome e e-mail
        do sócio ou gestor, comprovantes de gastos (alimentação, transporte,
        pedágio, dentre outros), bem como outras informações sobre viagens e
        despesas relacionadas a quaisquer solicitações de reembolso que o
        Titular venha a solicitar (conforme aplicável);
      </li>
      <li>
        <strong>Imagens de fotografia, vídeo vigilância e biometria:</strong>
        Gravações de áudio, filmagens, capturas de tela, imagens, biometria,
        reconhecimento facial, sem prejuízo de demais dados que venham a ser
        coletados;
      </li>
      <li>
        <strong>Dados Médicos e de Incapacidade:</strong> Quaisquer Dados
        Pessoais relativos a registros de faltas, formulários e prontuários
        médicos, relatórios ou atestados e registros de incapacidade;
      </li>
      <li>
        <strong>Outros Dados Pessoais Sensíveis:</strong> Na medida permitida
        pela legislação aplicável, a fim de cumprir com obrigações legais ou com
        as políticas internas relacionadas à diversidade e antidiscriminação,
        podem ser coletadas informações sobre diversidade (tais como nome
        social, gênero, orientação sexual, raça ou etnia), dados relacionados à
        sua saúde física ou mental, tais como doenças preexistentes,
        necessidades especiais (i.e., PCD), afastamentos por doença ou acidente
        de trabalho, além de informações fornecidas por profissionais da saúde
        como laudos e atestados médicos e dados relacionados aos seus
        dependentes (tais como caderneta de vacinação dos filhos menores de 7
        anos, em caso de salário família ou outro benefício concedido pelo
        Escritório);
      </li>
      <li>
        <strong>Dados Disciplinares e de Reclamações:</strong> Quaisquer Dados
        Pessoais contidos em registros de alegações, investigações e registros
        de processos e suas consequências;
      </li>
      <li>
        <strong>Dados de Avaliação e Gerenciamento de Desempenho:</strong>
        Cargo/função, área/departamento, e-mail, Dados Pessoais para
        acompanhamento das metas de trabalho, tanto para o pagamento do bônus
        dos integrantes quanto para a verificação de desempenho, feedback de
        sócios, gestores e outros integrantes, autoavaliações e avaliações de
        terceiros, e outros dados aplicáveis para gerenciamento de desempenho;
      </li>
      <li>
        <strong>Dados relacionados a obrigações legais e regulatórias:</strong>
        Conforme aplicável, podemos tratar dados como nome, filiação, data de
        nascimento, naturalidade, gênero, estado civil, nome do cônjuge,
        quantidade de filhos, endereço, telefone, e-mail, cópia da carteira de
        trabalho, CPF, RG, dentre outros dados, para cumprimento de exigências
        legais e regulatórias perante os órgãos aplicáveis;
      </li>
      <li>
        <strong
          >Informações Relacionadas ao Término de sua Relação
          Trabalhista/Contratual:</strong
        >
        Data, motivo da saída, último salário, nome do integrante substituído,
        eventual acordo, dados sobre verbas rescisórias;
      </li>
      <li>
        <strong>Arquivo e Banco de Dados relacionado a Ex-Integrantes:</strong>
        O Escritório poderá manter informações de ex-integrantes na forma e
        duração necessária para atender os requisitos da legislação aplicável e
        para o exercício regular de direitos em eventual negociação
        extrajudicial, processo administrativo ou processo judicial.
      </li>
    </ul>
  </li>
  <h2>
    (III) DADOS PESSOAIS RELACIONADOS A PARCEIROS, PRESTADORES DE SERVIÇOS,
    FORNECEDORES E TRABALHADORES EVENTUAIS:
  </h2>
  <ul>
    <li>
      <strong>Informações de identificação, qualificação e contato:</strong>
      Nome completo, e-mail, telefone, endereço, nacionalidade, estado civil,
      profissão, dados de documentos de identificação (RG, CPF, CNH ou documento
      similar), gênero, assinatura, foto, imagens de câmeras de segurança,
      biometria, reconhecimento facial, dentre outras informações, conforme
      aplicável;
    </li>
    <li>
      <strong>Informações profissionais:</strong> Nome da empresa em que
      trabalha, cargo, endereço e telefone comercial;
    </li>
    <li>
      <strong>Remuneração e dados relacionados:</strong> Dados de conta
      bancária, nota fiscal, informações fiscais e informações de terceiros,
      conforme necessário para realizações de pagamento e transações bancárias.
    </li>
  </ul>

  <h2>(IV) DADOS PESSOAIS RELACIONADOS AOS USUÁRIOS DO SITE:</h2>
  <ul>
    <li>
      <strong>Informações de Navegação:</strong> Coletamos informações sobre a
      sua visita ao Site, tais como o navegador que o Titular está usando, o
      nome de domínio de seu provedor de acesso à Internet e o tipo de sistema
      operacional utilizado pelo Titular;
    </li>
    <li>
      <strong>Informações de Contato e Cadastro:</strong> Quando o Titular
      preenche nossos formulários de contato online (Fale Conosco / Ouvidoria /
      Newsletter), solicitamos informações pessoais (tais como seu nome,
      telefone, sua empresa e seu endereço de e-mail), para que possamos enviar
      uma resposta aos seus eventuais questionamentos e realizar o seu cadastro
      em nossos sistemas para atender às finalidades descritas na presente
      Política.
    </li>
    <li>
      <strong>Comunicações do usuário:</strong> Quando o Titular entra em
      contato com o Escritório, nos envia e-mails ou mensagens através dos
      nossos canais de comunicação (Fale Conosco / Ouvidoria / Newsletter),
      podemos reter suas informações a fim de processar suas perguntas,
      responder suas solicitações e/ou melhorar nossos serviços.
    </li>
  </ul>
  <h2>
    (V) DADOS PESSOAIS RELACIONADOS AOS CANDIDATOS A VAGAS NO ESCRITÓRIO,
    COLETADOS EM VIRTUDE DE PROCESSO SELETIVO:
  </h2>
  <ul>
    <li>
      <strong>Informações de recrutamento e seleção:</strong> Durante o processo
      seletivo para vagas no Escritório, podemos coletar diversas informações
      para avaliar a candidatura do Titular, tais como seus Dados Pessoais
      contidos em currículos e formulários de inscrição, inclusive em perfis do
      candidato disponibilizados por ele em sites e plataformas de empregos (tal
      como o site Vagas.com, LinkedIn, Gupy e Catho) e/ou no Site do Escritório,
      a saber: nome completo, endereço, e-mail, telefone ou outras informações
      de contato, nacionalidade, idade, data de nascimento, estado civil, RG,
      CPF ou outro documento de identificação, gênero; anotações de entrevistas,
      registros de seleção e verificação, tais como escolaridade, informações
      acadêmicas (como curso, faculdade, ano de graduação), reconhecimentos,
      diplomas, experiências profissionais anteriores (como nome da empresa e
      cargo) e referências, qualificações profissionais, cursos, idiomas e
      respectivos níveis de habilidade, fotografia.
    </li>
  </ul>

  <h2>
    (VI) DADOS PESSOAIS RELACIONADOS A CONVIDADOS E PARTICIPANTES DE NOSSOS
    EVENTOS:
  </h2>
  <ul>
    <li>
      <strong>Dados de identificação, contato e cadastro:</strong> Nome
      completo, e-mail, telefone, endereço, nacionalidade, naturalidade,
      profissão, dados de documentos de identificação (RG, CPF, OAB, CNH ou
      documento similar), áreas de interesse, idioma, dentre outras informações,
      conforme aplicável;
    </li>
    <li>
      <strong>Dados profissionais:</strong> Nome da empresa em que trabalha,
      cargo, endereço e telefone comercial.
    </li>
  </ul>
  <h2>III – FINALIDADE DO TRATAMENTO DOS DADOS PESSOAIS</h2>
  <p>
    De modo geral, tratamos os seus dados pessoais para atendimento ao cliente e
    prestação de serviços jurídicos no âmbito consultivo ou contencioso. Para
    maior transparência, destacamos abaixo as principais finalidades para a
    utilização dos Dados Pessoais do Titular, sem prejuízo de outras que o
    Escritório entenda pertinentes e que estejam de acordo com as leis
    aplicáveis:
  </p>
  <ul>
    <li>
      <strong
        >Gerenciamento de trabalho, relacionamento ou cumprimento
        contratual:</strong
      >
      Nós realizamos o tratamento dos Dados Pessoais do Titular com a finalidade
      de administrar sua relação com o Escritório, incluindo relação de trabalho
      ou relação contratual. Por exemplo: para poder contratá-lo, administrar o
      acesso aos sistemas de TI do Escritório, alimentar nossos sistemas
      internos, entrar em contato com dependentes ou contatos de emergência de
      integrantes, conforme aplicável, bem como qualquer outra atividade
      cotidiana dentro do escopo de seu trabalho ou relação contratual, conforme
      aplicável;
    </li>
    <li>
      <strong
        >Pagamentos, cobranças, gestão de salário ou remuneração, benefícios e
        reembolso de despesas (conforme aplicável):</strong
      >
      Trataremos os Dados Pessoais com a finalidade de realizar ou processar
      pagamentos e cumprir com obrigações fiscais, além de outras obrigações
      legais e regulatórias, quando aplicável. Isso inclui a realização de
      transações bancárias, administração e pagamento de salário, bolsa ou
      remuneração e demais benefícios a integrantes do Escritório, tais como
      vale refeição, vale transporte, além de outros extensíveis aos dependentes
      do integrante (como plano de saúde e seguro de vida), sem prejuízo de
      outros que venham a ser implementados ou extintos, conforme aplicável;
      faturamento e cobrança de clientes; pagamento de fornecedores e
      prestadores de serviços, dentre outras finalidades;
    </li>
    <li>
      <strong>Controle de acesso:</strong> O Escritório trata Dados Pessoais
      para fins de controle de acesso, os quais são usados para o ingresso nos
      locais de trabalho e áreas restritas do Escritório, seja através de
      crachás, biometria, reconhecimento facial, dentre outros meios de
      controle;
    </li>
    <li>
      <strong>Implementação de políticas:</strong> O Escritório trata seus Dados
      Pessoais para fins de implementação de políticas e procedimentos que visem
      melhorar nosso relacionamento e a gestão dos nossos processos;
    </li>
    <li>
      <strong>Atendimento a obrigações legais e regulatórias:</strong>
      Processaremos as informações necessárias para atender os requisitos legais
      e regulatórios advindos da nossa atividade ou relacionados a nossa relação
      profissional, incluindo solicitações recebidas de autoridades públicas;
      solicitações de investigação; ou, quando exigido ou permitido pelas leis
      aplicáveis, ordens judiciais, regulamentações governamentais ou
      autoridades reguladoras (incluindo, mas não se limitando, à proteção de
      dados, impostos e relações de trabalho). Além disso, envolve o tratamento
      de outros Dados Pessoais necessários para atender a outras exigências
      legais e regulatórias, tais como operar uma linha direta de denúncia e
      manter registros de incidentes de saúde e segurança, conforme aplicável;
    </li>
    <li>
      <strong>Monitoramento de TI:</strong> O Escritório trata os Dados Pessoais
      para o monitoramento de e-mail operacional, equipamentos de TI, internet,
      redes sociais, conforme cabível. Na medida permitida pelas leis
      aplicáveis, o Escritório poderá realizar o monitoramento dos sistemas e
      das ferramentas de TI da empresa para proteger e manter a integridade dos
      sistemas e infraestrutura de TI, para garantir a conformidade com as
      políticas do Escritório, para localizar informações através de pesquisas,
      para garantir a segurança da informação de nossos processos e sistemas
      internos, para garantir a segurança da utilização do Site, apoio
      informático, com vistas a minimizar possíveis incidentes, de acordo com as
      leis aplicáveis;
    </li>
    <li>
      <strong>Auditoria Interna e Externa:</strong> Realizar auditorias de
      processos empresariais para administrar nossos empreendimentos e processos
      internos, a governança corporativa e cumprir com exigências legais. Também
      podemos processar informações com a finalidade de avaliar o desempenho e
      metas traçadas e a gestão de nossa relação contratual;
    </li>
    <li>
      <strong>Estabelecer, exercer e defender reivindicações legais:</strong>
      Podemos tratar Dados Pessoais para fins de ajuizamento, exercício e defesa
      de possíveis reivindicações legais;
    </li>
    <li>
      <strong>Segurança, Proteção e Investigações:</strong> Podemos processar
      informações para o cumprimento de obrigações regulamentares ou outras
      obrigações; supervisão de integrantes e demais funcionários; prevenção,
      detecção e investigação de uma ampla gama de atividades e comportamentos,
      seja relacionada a negócios específicos ou ao local de trabalho em geral,
      e estabelecer contato com autoridades reguladoras; gerenciamento de
      reclamações, queixas e incidentes; controle de acesso a locais, incluindo
      o uso de registros de controle de acesso; equipamento de emissão e
      monitoramento.
    </li>
    <li>
      <strong>Transações comerciais ou outsourcing:</strong> O Escritório poderá
      tratar os Dados Pessoais do Titular para o planejamento, auditoria e
      implementações relacionadas a uma transação comercial ou transferência de
      serviço envolvendo o Escritório e/ou que tenha impacto no seu
      relacionamento com o Escritório como, por exemplo, fusões e aquisições ou
      uma transferência de emprego, de acordo com as leis aplicáveis;
    </li>
    <li>
      <strong>Comunicações:</strong> Trataremos os seus Dados Pessoais para
      finalidades de comunicação direta, envio de Newsletters e informativos,
      tal como para enviar-lhe comunicações que contenham novidades, informação
      e atualizações sobre o nosso escritório, serviços, eventos especiais,
      pesquisas de satisfação e outras comunicações que possam ser do seu
      interesse, observada a base legal aplicável;
    </li>
    <li>
      <strong>Outras Finalidades:</strong> O Escritório trata os seus Dados
      Pessoais para atender às suas solicitações e dar suporte aos nossos
      serviços; para realizar operações gerais de negócios, conforme aplicável;
      para fins de análise, melhorias e personalização do Site do Escritório;
      para criação de cadastro e mailing list através da Newsletter, dentre
      outras finalidades.
    </li>
  </ul>
  <h3>IV – FINALIDADE DO TRATAMENTO DOS DADOS PESSOAIS</h3>
  <ol>
    <li>
      <strong>Recrutamento e seleção:</strong> O Escritório trata Dados Pessoais
      para fins de recrutamento e seleção, incluindo documentos relativos à
      candidatura, currículo, foto, avaliações de entrevistas, bem como outros
      dados fornecidos pelos candidatos em currículos, formulários de inscrição
      e durante as entrevistas de seleção; há também a finalidade de criação e
      manutenção de banco de reservas para candidaturas a futuras vagas no
      Escritório, através do Site e outras plataformas.
    </li>
    <li>
      <strong>Admissão de candidatos:</strong> O Escritório utiliza Dados
      Pessoais fornecidos durante a fase de recrutamento e seleção, bem como
      outros dados solicitados (tais como exame admissional, foto, Ficha
      Cadastral preenchida, documento de identidade, carteira de registro
      profissional, título de eleitor, CTPS, dentre outros) para fins de
      admissão do candidato no Escritório, atribuição de e-mail, assinatura de
      contrato, abertura de conta salário, cadastro em sistema de ponto, dentre
      outras finalidades relacionadas ao processo admissional, conforme
      aplicável.
    </li>
    <li>
      <strong>Gerenciamento de tempo e presença:</strong> O Escritório trata os
      Dados Pessoais de seus integrantes para o registro de horários de chegada
      e saída, horas extras, férias anuais, doenças e outras ausências para fins
      de administração, conforme aplicável; registro de RH e gerenciamento de
      sistemas.
    </li>
    <li>
      <strong
        >Gestão de licenças e afastamentos por doença, licença maternidade,
        dentre outros:</strong
      >
      O Escritório pode ter certas obrigações e necessidades legais relacionadas
      à ausência de seus integrantes em razão de doença, sendo que, nestes
      casos, o Escritório deverá tratar Dados Pessoais com o objetivo de
      gerenciar e administrar a ausência do integrante, por exemplo, para fins
      de pagamento de benefícios relacionados à doença e, se aplicável, à
      execução de medidas de readaptação, bem como para planejar a distribuição
      do trabalho durante a ausência, conforme aplicável.
    </li>
    <li>
      <strong>Gestão de desempenho:</strong> O Escritório trata Dados Pessoais
      dos seus integrantes para gestão e a operação de avaliações e análises de
      desempenho.
    </li>
    <li>
      <strong
        >Gestão e administração de participação em cursos, treinamentos e
        eventos:</strong
      >
      O Escritório trata Dados Pessoais para avaliar o desempenho profissional
      de seus integrantes, bem como para gerir a participação deles em cursos,
      treinamentos e eventos, internos ou externos, com o objetivo de planejar a
      distribuição do trabalho em geral, avaliar promoções e bonificações, gerir
      o planejamento dos integrantes e cumprir requisitos legais relacionados à
      obtenção de qualificações formais (por exemplo, treinamentos de
      segurança).
    </li>
    <li>
      <strong>Programas de diversidade e bem-estar:</strong> O Escritório trata
      Dados Pessoais para fins de condução de programas e ações que visem à
      igualdade, diversidade, inclusão e bem-estar dos nossos integrantes, e que
      objetivem melhorar o nosso ambiente de trabalho.
    </li>
    <li>
      <strong>Saúde ocupacional e serviços médicos:</strong> O Escritório trata
      os Dados Pessoais de seus integrantes para avaliações médicas e
      monitoramento contínuo da saúde e bem-estar, incluindo exames ocupacionais
      periódicos, conforme exigido pelas leis aplicáveis.
    </li>
  </ol>
  <h3>
    V – FINALIDADES DO TRATAMENTO DOS DADOS PESSOAIS DE CLIENTES E PARCEIROS
  </h3>
  <ol>
    <li>
      <strong>Prestação de nossos Serviços:</strong> Trataremos os Dados
      Pessoais para prestar os serviços solicitados/contratados por nossos
      clientes no âmbito consultivo e/ou contencioso judicial e/ou
      extrajudicial, incluindo, mas não se limitando a: análise, elaboração,
      revisão e negociação de contratos, instrumentos ou outros documentos
      jurídicos; defesa dos interesses dos nossos clientes em processos
      administrativos, judiciais e/ou arbitrais; realização ou participação em
      auditorias jurídicas para verificação da conformidade legal de empresas e
      análise de riscos; avaliação de casos fornecidos pelos clientes para
      elaboração de respostas, memorandos, pareceres ou opiniões legais, dentre
      outras opções.
    </li>
    <li>
      <strong>Publicações jurídicas:</strong> Também utilizamos Dados Pessoais
      de clientes e parceiros para indicá-los como contatos a serem consultados
      por empresas que realizam publicações jurídicas, incluindo rankings e
      pesquisas de feedback, a fim de que possam avaliar e/ou recomendar os
      serviços do Escritório.
    </li>
    <li>
      <strong>Análise de base de dados de clientes:</strong> Poderemos tratar
      informações pessoais para análise de nosso banco de dados de clientes,
      incluindo, por exemplo, a avaliação dos principais setores que atendemos,
      do mapa geográfico dos nossos clientes, dentre outras opções.
    </li>
  </ol>

  <h3>VI – BASES LEGAIS PARA TRATAMENTO DOS DADOS PESSOAIS</h3>
  <ol>
    <li>
      Os Dados Pessoais dos Titulares serão tratados mediante consentimento ou
      de acordo com uma das bases legais a seguir:
      <ul>
        <li>
          Execução de contrato ou de procedimentos preliminares relacionados ao
          contrato;
        </li>
        <li>Obrigação legal ou regulatória;</li>
        <li>
          Exercício regular de direitos em processo judicial, administrativo ou
          arbitral;
        </li>
        <li>
          Proteção da vida ou da incolumidade física do titular ou de terceiros;
        </li>
        <li>Atender ao nosso legítimo interesse ou de terceiros; ou</li>
        <li>Consentimento do Titular de Dados.</li>
      </ul>
    </li>
    <li>
      Na maior parte dos casos, o tratamento dos seus Dados Pessoais sensíveis
      será justificado pelas seguintes bases legais:
      <ul>
        <li>
          Quando o Titular dos Dados Pessoais consentir de maneira específica e
          destacada, para finalidades específicas;
        </li>
        <li>
          Quando for indispensável para o Escritório cumprir com obrigações
          legais e regulatórias;
        </li>
        <li>
          Para o exercício regular de direitos, incluindo direitos contratuais,
          e processos judiciais, administrativos e de arbitragem;
        </li>
        <li>
          Para a proteção da vida ou segurança física do titular dos dados ou
          mesmo de terceiros.
        </li>
      </ul>
    </li>
    <li>
      O Escritório se certificará de que o Titular seja informado de maneira
      transparente e, quando necessário, outras ações sejam tomadas para
      garantir a legalidade de nossos tratamentos de dados.
    </li>
  </ol>
  <h3>V – COMPARTILHAMENTO DOS DADOS PESSOAIS</h3>
  <ol>
    <li>
      O Escritório não divulgará, venderá ou disponibilizará os Dados Pessoais
      ou suas informações de acesso fora do escopo das finalidades descritas
      nesta Política e/ou em desacordo com a legislação aplicável. Na medida
      permitida por lei e mediante o uso da base legal aplicável, para fins de
      suporte de processamento e armazenamento, os Dados Pessoais coletados
      podem ser compartilhados com:
      <ul>
        <li>
          Escritórios do COSRO localizados no Brasil e eventuais parceiros
          comerciais internacionais;
        </li>
        <li>
          Internamente com nossos integrantes e funcionários autorizados,
          conforme necessário, para o gerenciamento de nossos negócios e nossa
          relação com o Titular. Nesse sentido, membros da nossa administração,
          TI ou determinados integrantes de outros setores, quando for
          necessário, poderão ter acesso a determinados Dados Pessoais para o
          desempenho da nossa relação ou parceria;
        </li>
        <li>
          Autoridades ou órgãos nacionais que solicitem os Dados Pessoais para
          cumprimento de obrigações legais e regulatórias, sempre que aplicável.
          Além disso, quando necessário, compartilharemos seus Dados Pessoais
          com autoridades administrativas, policiais e judiciais para questões
          judiciais ou administrativas, investigações e outros procedimentos
          aplicáveis envolvendo o Titular e/ou o Escritório;
        </li>
        <li>
          Prestadores de serviços, parceiros ou terceiros com quem trabalhamos,
          para atender a nossas obrigações legais e regulatórias, para prestação
          de serviços ao Escritório, para desenvolvimento de nossas atividades e
          negócios, armazenamento e segurança da informação, sem prejuízo de
          outras finalidades aplicáveis. Nesse sentido, podemos compartilhar
          determinados dados com empresas que nos auxiliam no processo de
          recrutamento e seleção, e contratação dos nossos integrantes (tais
          como LinkedIn, Catho, Gupy, Vagas.com e instituições de ensino);
          instituições financeiras e empresas responsáveis pelo pagamento de
          salário e remuneração; empresas que realizam a gestão de benefícios,
          como plano de saúde e seguro de vida, plano odontológico, exames
          médicos, vale refeição e alimentação, vale transporte, contratação de
          terceirizados; fornecedores de software, de serviços de suporte de TI
          e de hospedagem em nuvem; correspondentes, peritos, pareceristas,
          escritórios parceiros (nacionais e internacionais), auditores,
          contadores, tradutores, testemunhas, parte contrária e seus advogados,
          tradutores; prestadores de serviços postais ou de courier; publicações
          jurídicas nacionais ou internacionais; organizações não governamentais
          em caso de trabalhos pro bono; entre outros terceiros.
        </li>
      </ul>
    </li>
    <li>
      O Escritório e os terceiros relacionados asseguram que todos os
      procedimentos e medidas de segurança necessários serão observados no
      tratamento dos dados compartilhados, conforme os requisitos da lei
      aplicável.
    </li>
    <li>
      O Escritório poderá utilizar aplicativos de terceiros em suas atividades
      diárias de trabalho, como WhatsApp, Teams, Zoom, Google Meet, ou outros
      aplicativos de reunião online. Nestes casos, não podemos nos
      responsabilizar ou dar qualquer garantia com relação ao tratamento destes
      terceiros, sendo importante informar que o Titular está sujeito às
      respectivas políticas de privacidade e segurança, sobre as quais não
      possuímos qualquer ingerência ou controle.
    </li>
  </ol>
  <h3>VI – ARMAZENAMENTO E RETENÇÃO DE DADOS</h3>
  <ol>
    <li>
      Os Dados Pessoais dos Titulares são retidos de forma segura apenas pelo
      período necessário em que houver finalidade ou base legal para mantê-los,
      bem como para cumprimento de obrigação legal ou regulatória. A forma e o
      período de retenção serão definidos de acordo com a natureza dos Dados
      Pessoais coletados ou fornecidos ao Escritório e com a finalidade do
      tratamento.
    </li>
    <li>
      O término do tratamento e, consequentemente, a devolução ou eliminação dos
      Dados Pessoais poderão ocorrer quando a finalidade for alcançada, por
      força de obrigação legal e/ou regulatória ou quando o Titular exercer o
      seu direito de solicitar a exclusão ou devolução de seus respectivos Dados
      Pessoais.
    </li>
    <li>
      Para concretizar o compromisso com a privacidade e proteção de Dados
      Pessoais dos Titulares, o Escritório utilizará meios técnicos e
      organizacionais adequados para garantir a segurança dos dados tratados em
      suas atividades.
    </li>
  </ol>

  <h3>VII – DIREITOS DOS TITULARES DE DADOS PESSOAIS</h3>
  <ol>
    <li>
      O Escritório assegura ao Titular o cumprimento dos direitos garantidos na
      legislação aplicável, inclusive os direitos previstos no artigo 18, LGPD,
      na medida em que sejam aplicáveis e mediante seu requerimento, os quais
      serão atendidos nos prazos e termos previstos em regulamento aplicável:
      <ul>
        <li>
          <strong>Direito de Confirmação e Acesso:</strong> O Titular pode
          requerer a confirmação da existência de tratamento e o acesso aos seus
          Dados Pessoais. Esse direito pode ser exercido para acessar e obter
          uma cópia dos seus Dados Pessoais sob nosso controle ou posse,
          incluindo informação sobre as entidades públicas e privadas com as
          quais realizamos o uso compartilhado de seus dados;
        </li>
        <li>
          <strong>Direito de Retificação:</strong> Refere-se ao seu direito de
          correção de informações incompletas, inexatas ou desatualizadas, de
          forma que o Titular poderá atualizar, corrigir ou excluir Dados
          Pessoais a qualquer momento, entrando em contato com o Escritório;
        </li>
        <li>
          <strong>Direito de Eliminação:</strong> O Titular pode requerer a
          anonimização, bloqueio ou eliminação de informações desnecessárias,
          excessivas ou tratadas em desconformidade com a lei;
        </li>
        <li>
          <strong>Direito de Portabilidade de Dados:</strong> O Titular pode
          requerer a portabilidade de seus Dados Pessoais a outro fornecedor de
          serviço ou produto, mediante requisição expressa e observados os
          nossos segredos comercial e industrial, de acordo com a regulamentação
          da autoridade nacional de proteção de dados e da lei aplicável;
        </li>
        <li>
          <strong>Direitos Ligados ao Consentimento:</strong> Caso o tratamento
          seja baseado no seu consentimento, o Titular possui o direito de não o
          fornecer ou revogá-lo a qualquer momento. O Titular também tem o
          direito de obter informação sobre a possibilidade de não fornecer
          consentimento e sobre as consequências da negativa. Há, ainda, o
          direito de o Titular solicitar a eliminação dos Dados Pessoais
          tratados com o consentimento, na medida permitida pela lei aplicável;
        </li>
        <li>
          <strong>Direito de Revisão:</strong> Caso aplicável, o Titular tem
          direito de solicitar a revisão de decisões tomadas unicamente com base
          em tratamento automatizado de Dados Pessoais que afetem seus
          interesses, incluídas as decisões destinadas a definir o seu perfil
          pessoal, profissional, de consumo ou os aspectos de sua personalidade.
        </li>
        <li>
          <strong>Outros Direitos:</strong> Na medida em que o Escritório se
          baseia em outras hipóteses de tratamento que não o consentimento do
          Titular para usar seus Dados Pessoais, o Titular tem o direito de se
          opor a tal uso em caso de descumprimento da lei aplicável. O Titular
          possui, ainda, o direito de receber informações sobre os terceiros com
          os quais o Escritório realizou o uso compartilhado dos Dados Pessoais,
          além do direito de peticionar perante a autoridade nacional ou perante
          os organismos de defesa do consumidor, se aplicável.
        </li>
      </ul>
    </li>
  </ol>
  <h3>VIII – ALTERAÇÕES DESTA POLÍTICA</h3>
  <ol>
    <li>
      O Escritório se reserva o direito de, a qualquer momento e a seu exclusivo
      critério, modificar ou atualizar qualquer parte destes termos, desde que
      não afete materialmente seus direitos ou obrigações aqui estipuladas,
      observando a legislação aplicável. Qualquer versão atualizada desta
      Política supera e substitui integralmente qualquer versão anterior no
      momento da publicação, de modo que a versão anterior não estará mais
      vigente e não terá mais efeitos, a não ser que o contrário seja
      especificamente declarado. O Escritório indicará a data da última
      atualização ao final desta Política de Privacidade.
    </li>
    <li>Esta Política de Privacidade vigorará por prazo indeterminado.</li>
  </ol>

  <h3>IX – INFORMAÇÕES DE CONTATO</h3>
  <ol>
    <li>
      Em caso de dúvidas sobre nossa Política de Privacidade, nossas práticas ou
      caso deseje entrar em contato com o Escritório para corrigir qualquer uma
      de suas informações cadastradas ou exercer seus direitos, estaremos
      disponíveis através do Comitê Gestor.
    </li>
  </ol>
</div>
