<div class="introduction">
    <img src="../../../assets/friendship_02.png" alt="">
    <div class="text">
        <h1>
            Descubra o que significa pertencer e
            se destacar no Costa Rodrigues Advogados
        </h1>
        <p>
            O Costa Rodrigues foi formado em 2024 através da parceria
            entre advogados com uma nova forma de visualizar
            futuro da advocacia, kcmidcic snis sdnhbwd bxndn sbcxh xhb.
        </p>
    </div>
    <p>
        You are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
        the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
        necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
        combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The
        generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words
        etc.
    </p>
</div>

<div class="facts">

   <div class="title">
    <h1>
        Fatos e números-chave
    </h1>
   </div>

    <div class="list">
        @for (item of [].constructor(6); track $index) {
        <div class="cards">
            <div class="line"></div>
            <h2>Alcance global</h2>
            <p>
                The generated Lorem Ipsum is therefore always free from repetition, injected humour, or
                non-characteristic words etc.
            </p>
        </div>
        }
    </div>

</div>


<div id="working" class="working">
    <h1>Working at A&O Shearman</h1>
    <div class="tabs">

        <div class="tab-headers">
            @for (item of data; track $index) {
            <div class="tab-header" [class.active]="selectedTab === $index" (click)="selectTab($index)">
                {{item.title}}
            </div>
            }
        </div>

        <div class="tab-content">
            @for (item of data; track $index) {
            @if (selectedTab === $index) {
            <div class="tab-panel">
                <h3>{{item.title}}</h3>
                <p>{{description}}</p>
                <img [src]="item.url" alt="">
            </div>
            }
            }

        </div>
    </div>
</div>