.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 70vw;

  .text {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    justify-content: center;
    margin-bottom: 10rem;
    h1 {
      color: #035151;
      font-size: 48px;
      font-weight: 400;
      line-height: 55px;
      width: 40vw;
    }
    p {
      color: #fe6e5b;
      font-weight: 600;
      font-size: 16px;
      border-top: #fe6e5b solid 2px;
      padding-top: 1rem;
      width: 20vw;
    }
  }
  p {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 16px;
    font-weight: 400;
  }
}

.facts {
  background-color: #035151;
  padding-bottom: 4rem;
  .title {
    border-bottom: #fe6e5b solid 2px;
    width: 80vw;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
      font-size: 36px;
      color: #fff;
      font-weight: 400;
      margin-left: 5rem;
    }
  }
  .list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 3rem;
    margin: auto;
    margin-top: 4rem;
    border-bottom: #fe6e5b solid 2px;
    width: 80vw;
    padding-bottom: 2rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20vw;
    .line {
      background-color: #39e2b0;
      width: 50px;
      height: 12px;
    }
    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 400;
    }
    p {
      color: #39e2b0;
      font-weight: 400;
    }
  }
}


.working {
  margin-left: 10rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  h1 {
    margin-left: 10rem;
    color: #00342b;
    font-size: 50px;
    font-weight: 500;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    margin-left: 10rem;
    margin-top: 5rem;
  }

  .tab-headers {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .tab-header {
    padding: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-self: start;
    justify-self: center;
    color: #00342b;
    font-size: 16px;
    font-weight: 700;
    border-left: #00884d42 solid 5px;
    transition: border-left 0.5s ease-in-out;
  }
  .tab-header.active {
    color: #00884d;
    border-left: #00884d solid 5px;
  }

  .tab-content {
    padding: 10px;
    h3 {
      font-size: 43px;
      font-weight: 500;
      color: #00342b;
    }
    p {
      font-size: 21px;
      font-weight: 500;
      color: #00342b;
      margin-top: 2rem;
    }
    img {
      margin-top: 2rem;
      width: 40vw;
    }
  }

  .tab-panel {
    display: flex;
    flex-direction: column;
    width: 40vw;
  }
}
