<div class="content">
  <div class="introduction">
    <div class="title">
      <img
        src="./../../../assets/Intersect.png"
        alt=""
        style="position: absolute; left: 5rem; top: 20%"
      />

      <h4>Quem<br />somos</h4>
    </div>
    <p>
      Somos mais de 50 profissionais multisetoriais e multidisciplinares, que
      acumulam décadas de experiência profissional adquiridas nos maiores
      escritórios de advocacia full service do Brasil e do mundo. Reunimos
      visões variadas de mundo, que convergem no interesse comum em entregar
      valor para nossos clientes e prestar serviços de excelência.
    </p>
  </div>
  <img src="assets/abertura.png" alt="" />
  <div class="about-us">
    <img src="assets/image_04.png" alt="" />
    <p>
      Costa Rodrigues Advogados, o COSRO, representa uma visão institucional que
      simboliza a força e a colaboração entre todos os membros da nossa equipe.
      Este nome, que não personifica um advogado ou advogada, mas sim um
      escritório multisetorial e multidisciplinar de advocacia, carrega a
      responsabilidade e o compromisso de cada um de nós em auxiliar nossos
      clientes a impactar positivamente a vida das sociedades e comunidades em
      que atuam. Juntos, trabalhamos incansavelmente para promover
      desenvolvimento sustentável, diversidade, equidade e inclusão, refletindo
      nossa missão de fazer a diferença em cada relação que construímos.
    </p>
  </div>

  <div class="colab">
    <div class="introduction">
      <div class="title-text">
        <h1>Uma abordagem colaborativa</h1>
        <h2>
          Oferecemos serviços jurídicos de altíssima qualidade a uma ampla gama
          de clientes em todo o mundo.
        </h2>
      </div>
      <img src="assets/friendship_03.png" alt="" />
    </div>

    <div class="text">
      <p>
        Nossa estrutura é multissetorial e multidisciplinar, respeitando as
        particularidades de cada segmento da economia: Agronegócio, Alimentos e
        Bebidas, Bens de Consumo e Varejo, Cannabis, Descarbonização, Energia,
        Esportes, Imobiliário, Infraestrutura, Life Sciences e Healthcare,
        Mineração, Navegação e Tecnologia formam o núcleo do nosso negócio.
      </p>
    </div>
    <!--  <img class="img-border" src="assets/Intersect_2.png" alt="" /> -->
  </div>

  <div class="time">
    <img src="./../../../assets/Foto_02.png" alt="" />
    <div class="text-1">
      <h1>Um time sem fronteiras</h1>
      <p>
        <b>
          Sem limites geográficos, atuamos de forma integrada, independentemente
          se no Rio de Janeiro, em São Paulo, Brasília, Nova Iorque, Roma,
          Madrid ou Cingapura, com uma cultura que valoriza e fortalece a
          diversidade de origens, conhecimentos e habilidades dos nossos
          colaboradores.
        </b>
        Nossa estrutura de trabalho multisetorial e multidisciplinar permite que
        nossos profissionais escolham os setores e as áreas de atuação em que
        desejam atuar sob uma ótima jurídico-econômica, promovendo uma abordagem
        empreendedora que eleva o comprometimento e o conhecimento, resultando
        em melhores resultados para nossos clientes
      </p>
    </div>

    <div class="Ai-powered">
      <h1>Um time sem fronteiras</h1>
      <p>
        Aliamos nossa experiência à inovação. Utilizamos tecnologia avançada em
        todos os nossos processos, abraçando um presente cada vez mais eficiente
        rumo a um futuro que já exige rápida capacidade de adaptação. Somos
        Legal AI-powered.
      </p>
    </div>
  </div>

  <div class="diversidade">
    <h1>Diversidade, equidade e inclusão para além da retórica</h1>
    <p>
      Diversidade, a equidade e a inclusão (DEI) são valores fundamentais para
      nosso escritório e nossos profissionais.
    </p>
    <p>
      No COSRO, temos uma equipe diversa, onde DEI transcende a raça, gênero,
      idade, etnia, orientação sexual, religião e afiliação política.
      Valorizamos e encorajamos a diversidade em estilos de trabalho,
      trajetórias de carreira e experiências profissionais e de vida. Temos, na
      origem, um comitê de DEI que efetivamente implementa estratégias em
      recrutamento, retenção e promoção de profissionais diversos.
    </p>
    <img src="assets/Foto_06.png" alt="" />
  </div>

  <div class="sustentavel">
    <div>
      <h1>Sustentabilidade na prática</h1>
      <p>
        Em sintonia com nosso compromisso com a sustentabilidade, expressado por
        nossa adesão ao Pacto Global, nos empenhamos em reduzir nossa pegada de
        carbono e em promover um ambiente de trabalho que seja ao mesmo tempo
        sustentável, saudável e inovador. Reconhecemos nossa responsabilidade em
        minimizar nosso impacto ambiental e nos orgulhamos de utilizar espaços
        de escritório que respeitam e valorizam o meio ambiente, com as melhores
        iniciativas eco-friendly.
      </p>
    </div>
    <img src="assets/arara_02.png" alt="" />
  </div>

  <div class="responsabilidades">
    <h1>Compromisso com a responsabilidade social e pro bono</h1>

    <div>
      <p>
        Estamos dedicados a fazer a diferença nas comunidades onde vivemos e
        trabalhamos.
      </p>
      <p>
        Nossa missão de responsabilidade social inclui oferecer serviços
        jurídicos gratuitos ao terceiro setor e em projetos colaborativos e sem
        fins lucrativos com/dos nossos clientes, promovendo melhorias na vida
        daqueles que são alcançados e em suas comunidades. Trabalhamos com a
        mesma dedicação, reconhecimento e recompensa em causas pro bono que
        dedicamos a nossos clientes, garantindo que todos os nossos
        profissionais se envolvam em projetos que exaltam e celebram seus
        interesses e habilidades.
      </p>
    </div>
  </div>

  <div>
    
  </div>
</div>
