input{
  box-shadow: none;
  font-size: 48px;
  border: none;
  border-radius: none;
 
}
input::placeholder {
  color: #035151; 
  opacity: 0.3; 
}

.input-group{
  border-bottom: solid #c3c3c3 2px;
  margin-bottom: 2rem;
}

button{
  border: none;
  color: #035151;
  font-size: 25px;
}

button:hover{
  background: none;
  color: #035151;
  font-size: 25px;
}

button :active{
  background: none;
  color: none;
}