<div id="find-an-advisor" class="find-an-advisor">
    <div id="text-advisor" class="text-advisor">
        <h1>Find an advisor</h1>
        <p>
            We have nearly 4,000 lawyers and consultants globally
            with outstanding expertise and industry knowledge.
            Use the filters to find the right one for you.
        </p>
    </div>
    <form id="form" class="form" action="">
        
        <h3>EXPERTISE</h3>
        <mat-form-field>
            <mat-select value="all-expectise" >
                <mat-option value="all-expectise">All expertice</mat-option>
                <mat-option value="saab">Antitrust</mat-option>
            </mat-select>
        </mat-form-field>


        <h3>INDUSTRY</h3>
        <mat-form-field>
            <mat-select value="all-industries">
                <mat-option value="all-industries">All Industries</mat-option>
                <mat-option value="saab">Saab</mat-option>
            </mat-select>
        </mat-form-field>

        <h3>LOCATION</h3>
        <mat-form-field>
            <mat-select value="all-location">
                <mat-option value="all-location">All location</mat-option>
                <mat-option value="saab">Saab</mat-option>
            </mat-select>
        </mat-form-field>
        <button class="animated-button-2">SEARCH FOR PEOPLE <i class="bi bi-arrow-right"></i></button>
    </form>
</div>