<div class="content">
    <div id="find-an-advisor" class="find-an-advisor">
        <div class="text">
            <h3>Diversidade, equidade e inclusão</h3>
            <h1>Has been the industry's standard dummy text ever since the 1500s</h1>
            <p>
                It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially
                unchanged.
            </p>

        </div>
        <form id="form" class="form" action="">

            <h3>EXPERTISE</h3>
            <mat-form-field>
                <mat-select value="all-expectise">
                    <mat-option value="all-expectise">All expertice</mat-option>
                    <mat-option value="saab">Antitrust</mat-option>
                </mat-select>
            </mat-form-field>


            <h3>INDUSTRY</h3>
            <mat-form-field>
                <mat-select value="all-industries">
                    <mat-option value="all-industries">All Industries</mat-option>
                    <mat-option value="saab">Saab</mat-option>
                </mat-select>
            </mat-form-field>

            <h3>LOCATION</h3>
            <mat-form-field>
                <mat-select value="all-location">
                    <mat-option value="all-location">All location</mat-option>
                    <mat-option value="saab">Saab</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="animated-button-2">Encontre um especialista <i class="bi bi-arrow-right"></i></button>
        </form>
    </div>

    <div class="imagem">
        <div class="up">
            <img src="assets/friendship.png" alt="">
            <img src="assets/mother.png" alt="">
            <img src="assets/arara.png" alt="">
        </div>
        <div class="down">
            <img src="assets/inspiration.png" alt="">
            <img src="assets/oil-cannabis.png" alt="">
        </div>
    </div>

</div>