<div class="content">
  <div class="container">
    <div class="find-an-advisor row justify-content-between">
      <div class="col-4">
        <h1 class="arapey-regular">Encontre um profissional</h1>
        <p class="arimo-regular">
          Um time multissetorial e multidisciplinar comprometido em entregar
          valor e serviços de excelência aos nossos clientes
        </p>
      </div>

      <div class="col-6">
        <div class="select">
          <label for="">Expertise</label>
          <select aria-label="Default select example">
            <option selected>Todas</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="select">
          <label for="">Atuação</label>
          <select aria-label="Default select example">
            <option selected>Todas</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="select">
          <label for="">Localização</label>
          <select aria-label="Default select example">
            <option selected>Todas</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <br>
        <br>
        <span>
            Buscar 
            <i class="bi bi-arrow-right"></i>
        </span>
      </div>
    </div>
  </div>
</div>
