<div id="content" class="content">
    <div id="introduction" class="introduction">
        <h1>Our <br>expertise</h1>
        <p>Explore the skills and experience of our global team,
            who deliver top-tier advice to the world’s leading
            corporates, investment funds, financial institutions and governments.
        </p>
    </div>
    <div class="image">
        <img src="assets/image-15.webp" alt="">
    </div>
    <div id="text-area" class="text-area">
        <h1>Every need covered. Everywhere.</h1>
        <p>
            A&O Shearman is built to handle our clients'
            most complex multijurisdictional matters.
            Read about our expertise below.
        </p>
    </div>
    <div id="expertise-page" class="expertise-page">
        @for (item of items.expertise; track $index) {
            <button class="item">
                <p>
                    {{item.name}}
                </p>
                <i class="bi bi-arrow-right"></i>
            </button>
        }
    </div>
</div>