<div id="people" class="people">
  <div class="container">
    <h1 class="arapey-regular">Sócios</h1>
  </div>
  <app-search style="width: 100%"></app-search>

  <div class="container text-center">
    <div class="letters">
      @for (item of letters; track $index) { @if ($index !== 0) {
      <div>.</div>
      }
      <div>{{ item }}</div>
      }
    </div>
  </div>

  <div class="container">
    <div id="select" class="select row justify-content-center gx-4">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Expertise</mat-label>
          <mat-select [formControl]="toppings" multiple>
            @for (topping of toppingList; track topping) {
            <mat-option [value]="topping">{{ topping }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Industries</mat-label>
          <mat-select [formControl]="toppings" multiple>
            @for (topping of toppingList; track topping) {
            <mat-option [value]="topping">{{ topping }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Location</mat-label>
          <mat-select [formControl]="toppings" multiple>
            @for (topping of toppingList; track topping) {
            <mat-option [value]="topping">{{ topping }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center gy-5">
      @for (item of dados; track $index){
      <div class="col-sm-4">
        <div class="" (click)="navigate('people-detail', item.id)">
          <div class="profile-card">
            <img [src]="item.img" alt="" class="profile-img" />

            <div class="data col">
              <h2 class="row">{{ item.nome }}</h2>
              <h3 class="row">{{ item.cargo }}</h3>

              <div class="value-column row">
                <p>{{ item.email }}</p>
                <p>{{ item.telefone1 }}</p>
                <p>{{ item.escritori2 }}</p>
              </div>

              <button class="v-card">
                <mat-icon>download</mat-icon>
                <p>V-CARD</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
