.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  width: 100vw;
  height: 20vh;
  .form-field {
    width: 80vw;
    input {
      font-size: 42px;
      font-weight: 500;
      color: #fff;
      font-family: "Montserrat", sans-serif;
    }
  }
}
.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  mat-form-field {
    width: 26vw;
    
  }
}
.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
}

.people h1 {
  align-self: start;
  font-size: 96px;
  color: #035151;
  font-weight: 500;
  font-style: italic;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

.profile-card {
  background-color: #035151;
  width: 415px;
  padding-bottom: 1rem;
}

.profile-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4; /* Define a proporção 3:4 */
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível */
  border-bottom: 1px solid #ddd;
}

.data {
  padding-left: 2rem;
  margin: 0;
}

.data h2 {
  margin-top: 2rem;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
line-height: 55px;
}

.data h3 {
  font-size: 16px;
  font-weight: 600;
  color: #39e2b0;
  margin-bottom: 3rem;
}
.info-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.label-column {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.value-column {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.v-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  background: none;
  border-radius: 50px;
  border: solid 1px #FE6E5B;
  width: 7vw;
  
  p{
    margin: auto;
  }
}