<div id="people" class="people">
  <div class="container">
    <h1 class="arapey-regular">Sócios</h1>
  </div>
  <app-search style="width: 100%"></app-search>

  <div class="container text-center">
    <div class="letters">
      @for (letters of letters; track $index) { @if ($index !== 0) {
      <div>.</div>
      }
      <div (click)="filter(letters)">{{ letters }}</div>
      }
    </div>
  </div>

  <div class="container">
    <div id="select" class="select row justify-content-center gx-4">
      <div class="col-sm-4">
        <select aria-label="Default select example">
          <option selected>Expertise</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="col-sm-4">
        <select aria-label="Default select example">
          <option selected>Industry</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="col-sm-4">
        <select aria-label="Default select example">
          <option selected>Location</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 2rem">
    <div class="row justify-content-center align-items-center gy-5">
      @for (item of result; track $index){
      <div class="col-sm-auto">
        <div class="" (click)="navigate('people-detail', item.id)">
          <div class="profile-card">
            <img [src]="item.foto" alt="" class="profile-img" />

            <div class="data col">
              <h2 class="row arapey-regular text-start">{{ item.nome }}</h2>
              <h3 class="row">
                {{ item.cargo | replace : "," : " | " }}
                <br />
                {{ item.cidade }}
              </h3>

              <div class="value-column row">
                <h4 class="arimo-regular" style="text-decoration: underline">
                  {{ item.email }}
                </h4>
                <h4 class="arimo-regular">{{ item.numeros[0] }}</h4>
                <h4 class="arimo-regular">{{ item.escritori2 }}</h4>
              </div>

              <button class="v-card">
                <mat-icon>download</mat-icon>
                <p>V-CARD</p>
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
