button{
    margin-left: 10rem;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-transform: uppercase;
    color: #00342b;
    font-weight: 700;
    font-size: 14px;

    i{
        font-size: 16px;
    }
}

button:hover{
    color: #0fbb73;
}
.introduction {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 10rem;
    h1 {
      color: #00342b;
      font-size: 80px;
      line-height: spx;
      font-weight: 500;
    }
    p {
      font-size: 28px;
      font-weight: 400;
      line-height: 39px;
      color: #00342b;
      border-top: #00884d solid 3px;
      width: 35%;
      padding-top: 1rem;
    }
  }