<div class="introduction">
    <div class="header">
        <h1>O Escritório</h1>
        <p>
            O Costa Rodrigues foi formado
            em 2024 através da parceria entre
            advogados com uma nova forma de visualizar
            futuro da advocacia, kcmidcic snis sdnhbwd bxndn sbcxh xhb.
        </p>
    </div>
    <div class="text-content">
        <img src="./../../../assets/image_03.png" alt="">
        <div class="text">
            <h2>You need to be sure there isn't anything embarrassing hidden in the middle of text</h2>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have
                suffered alteration in some form, by injected humour, or randomised words which don't
                look even slightly believable.
            </p>
            <p>
                If you are going to use a passage of Lorem Ipsum,
                you need to be sure there isn't anything embarrassing hidden in the middle of text.
                All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                necessary, making this the first true generator on the Internet. It uses a dictionary
                of over 200 Latin words, combined with a handful of model sentence structures, to generate
                Lorem Ipsum which looks reasonable. The generated
                Lorem Ipsum is therefore always free from repetition,
                injected humour, or non-characteristic words etc.
            </p>
        </div>
    </div>
</div>

<div class="content">
    <div class="info">
        <div class="text-info">
            <h1>You need to be sure there isn't anything embarrassing hidden in the middle of text</h1>
            <p>
                There are many variations of passages of
                Lorem Ipsum available, but the majority have
                suffered alteration in some form, by injected
                humour, or randomised words which don't look
                even slightly believable.
            </p>
        </div>

        <div class="row-image">
            <img class="image-icon" src="assets/!.png" alt="">

            <div class="text-image">
                <img class="arara" src="assets/arara.png" alt="">
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered alteration in some form, by injected humour, or randomised words which don't
                    look even slightly believable.
                </p>
                <p>
                    If you are going to use a passage of Lorem Ipsum,
                    you need to be sure there isn't anything embarrassing hidden in the middle of text.
                    All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                    necessary, making this the first true generator on the Internet. It uses a dictionary
                    of over 200 Latin words, combined with a handful of model sentence structures, to generate
                    Lorem Ipsum which looks reasonable. The generated
                    Lorem Ipsum is therefore always free from repetition,
                    injected humour, or non-characteristic words etc.
                </p>
            </div>
        </div>

    </div>

    <img src="assets/working.png" alt="">
</div>

<div class="capability">
    <ul>
        <li>
            <h1>Expertise setorial</h1>
            <p>
                Nossos advogados são especialistas
                em legislação e também possuem um profundo
                entendimento das nuances de cada setor.
                Conhecemos os riscos e oportunidades do negócio
                do cliente, permitindo-nos oferecer uma orientação jurídica
                alinhada ao mercado.
            </p>
        </li>
        <li>
            <h1>Capilaridade</h1>
            <p>
                Capacidade de operar em diversas jurisdições
                e setores, oferecendo soluções jurídicas
                personalizadas para nossos clientes globalmente.
                Com uma equipe especializada e conhecimento das
                especificidades de cada mercado, conseguimos
                combinar expertise local e visão global,
                posicionando-nos como parceiros estratégicos
                prontos para apoiar o crescimento e a inovação
                de nossos clientes em qualquer região.
            </p>
        </li>
        <li>
            <h1>Assessoria prática e estratégica</h1>
            <p>
                Adotamos uma abordagem prática, estratégica
                e comercial. Nossos advogados se tornam
                verdadeiros parceiros de negócio, contribuindo
                com soluções que vão além do jurídico, ajudando
                nossos clientes a navegarem em um ambiente de
                mercado complexo.
            </p>
        </li>
        <li>
            <h1>Foco em resultados</h1>
            <p>
                Com uma avaliação clara dos
                desafios de cada setor, estamos
                sempre prontos para criar soluções que
                garantam a segurança jurídica e
                promovam o crescimento sustentado
                de nossos clientes.
            </p>
        </li>
    </ul>
</div>

<div class="about-us">
    <div class="text-about-us">
        <h6>Sobre Nós</h6>
        <h1>You need to be sure there isn't anything embarrassing hidden in the middle of text</h1>
        <p>
            O Costa Rodrigues foi formado em 2024 através
            da parceria entre advogados com uma
            nova forma de visualizar futuro da advocacia,
            kcmidcic snis sdnhbwd bxndn sbcxh xhb.
        </p>
        <button class="button">SAIBA MAIS <i class="bi bi-arrow-right"></i></button>
    </div>

    <div class="lista">
        <ul>
            <li>Tecnologia</li>
            <li>Mineração</li>
            <li>Marítimo e navegação</li>
            <li>Life & Health Care</li>
            <li>Infraestrutura</li>
            <li>Esportes</li>
            <li>Energia</li>
            <li>Cannabis</li>
            <li>Bens de consumo, varejo, comida e bebida</li>
            <li>Ambiental</li>
            <li>Agribusiness</li>
            <li>Carreira</li>
            <li>Insights</li>
            <li>Diversidade, equidade e inclusive</li>
        </ul>
    </div>
</div>